.btn-icon {
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

.logo__link {
  background: url(../assets/logo_m.jpg) no-repeat center;
  background-size: 100%;
  display: block;
  width: 116px;
  height: 45px;
  text-indent: -9999px;
}

.inner {
  width: 94%;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  text-indent: -9999px;
  opacity: 0.5;
  z-index: 1;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.slick-prev {
  left: 3%;
  background-image: url(../assets/banner/arrow_prev01.png);
}

.slick-next {
  right: 3%;
  background-image: url(../assets/banner/arrow_next01.png);
}

.new {
  background: url(../assets/icon/icon_new.gif) no-repeat 0 0;
  background-size: 100%;
  display: inline-block;
  width: 15px;
  height: auto;
  text-indent: -9999px;
}

.btn-more {
  background: url(../assets/icon/more.png) no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0;
  color: transparent;
}

/* =============== 반응형 =============== */
@media only screen and (min-width: 768px) {
  .logo {
    padding-left: 3%;
  }

  .logo__link {
    background-image: url(../assets/logo.jpg);
    width: 160px;
    height: 90px;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
  }

  .btn-more {
    background: url(../assets/icon/more_plus.png) no-repeat right 12px bottom 50%;
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 2px solid #222;
    border-radius: 30px;
  }

  .btn-more span {
    display: block;
    padding-left: 12px;
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }
}

@media only screen and (min-width: 1070px) {
  .logo__link {
    width: 186px;
    height: 107px;
  }

  .slick-arrow {
    width: 70px;
    height: 70px;
  }

  .btn-more {
    width: 120px;
    height: 38px;
    border-radius: 40px;
  }

  .btn-more span {
    padding-left: 17px;
    font-size: 15px;
  }
}
