/* Wrapper */
.wrapper {
  padding-top: 45px;
}

/* Header */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
}

.header__btn-search {
  background-image: url(../assets/icon/icon_search.jpg);
  background-size: 20px;
  padding: 12px 3%;
  width: 20px;
  height: 20px;
}

.header__btn-m-menu {
  background-image: url(../assets/icon/icon_gnb.jpg);
  background-size: 23px 14px;
  padding: 15px 3%;
  width: 23px;
  height: 15px;
}

/* Header - Search */
.header__search-wrap {
  display: none;
  position: relative;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 23px 40px;
  box-sizing: content-box;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.search-form {
  position: relative;
  display: flex;
  width: 95%;
  height: 100%;
}

.search-form input {
  width: 100%;
  padding: 0 45px 0 10px;
  border-bottom: 2px solid #0062b1;
}

.search-form__btn-search {
  background-image: url(../assets/icon/icon_top_search_2.png);
  background-size: 25px;
  position: absolute;
  top: 0;
  right: 3px;
  width: 40px;
  height: 100%;
}

.search-wrap__btn-close {
  background-image: url(../assets/icon/icon_close.jpg);
  background-size: 18px;
  position: absolute;
  top: 51%;
  right: 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

/* Header - Util */
.header__util-list {
  display: none;
}

/* Header - PC Nav */
.header__gnb-pc {
  display: none;
}

/* Header - Mobile Nav */
.header__gnb-mobile {
  display: none;
}

.header__gnb-mobile-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__gnb-mobile-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gnb-mobile {
  background-color: #fff;
  position: relative;
  top: 0;
  right: -100%;
  min-width: 290px;
  max-width: 370px;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.gnb-mobile__header {
  background-color: #1e75d6;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 38px;
  padding: 8px 35px 8px 13px;
}

.gnb-mobile__header a {
  display: flex;
  align-items: center;
  color: #fff;
}

.gnb-mobile__link-login {
  background: url(../assets/icon/icon-top-login-m_2.png) no-repeat left 49%;
  padding: 8px 0 8px 25px;
  font-size: 16px;
}

.gnb-mobile__link-join {
  align-self: center;
  padding: 5px 8px;
  margin-left: auto;
  margin-right: 15px;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.gnb-mobile__btn-close {
  background-image: url(../assets/icon/btn_job_cate_close.gif);
  position: absolute;
  top: 50%;
  right: 13px;
  width: 22px;
  height: 47px;
  transform: translateY(-50%);
}

.gnb-mobile__menu-list {
}

.gnb-mobile__menu-item {
  color: #333;
  border-bottom: 1px solid #d9d9d9;
}

.gnb-mobile__menu-item > button {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.gnb-mobile__menu-item > button::after {
  background: url(../assets/icon/arrow_dep1_off_2.png) no-repeat;
  background-size: 100%;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
}

.gnb-mobile__sub-menu {
  display: none;
  background-color: #f7f7f7;
  padding: 8px 0;
  border-top: 1px solid #d9d9d9;
}

.gnb-mobile__link {
  display: block;
  padding: 3px 0 3px 20px;
  font-weight: 500;
}

.gnb-mobile__link::before {
  content: "·";
  padding-right: 3px;
}

.gnb-mobile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.gnb-mobile__mark img {
  width: 100px;
}

.gnb-mobile__link-tel {
  display: block;
  padding: 5px 0;
  color: #1e75d6;
  font-size: 18px;
  font-weight: 500;
}

.gnb-mobile__link-tel img {
  display: inline-block;
  width: auto;
  height: 16px;
}

.gnb-mobile__date {
  color: #333;
}

/* Main - Board */
.main-content__board {
  max-width: 1280px;
  padding: 12px 0;
  margin: 0 auto;
}

.main-content__board .inner {
  position: relative;
  display: flex;
  align-items: center;
}

.main-content__board-title {
  position: relative;
  flex-shrink: 0;
  padding-right: 23px;
  color: #333;
  font-size: 14px;
  letter-spacing: -0.05em;
}

.main-content__board-title::after {
  background-color: #333;
  content: "";
  position: absolute;
  top: 50%;
  right: 11px;
  width: 1px;
  height: 12px;
  transform: translateY(-50%);
}

.main-content__board-list {
  width: calc(100% - 114px);
}

.main-content__board-list li {
  display: none;
  width: 100%;
  padding-left: 7px;
}

.main-content__board-list li.on {
  display: inline-block;
}

.main-content__board-list li a {
  display: inline-block;
  max-width: 90%;
  height: 1em;
  color: #333;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-content__board-list .new {
  margin-left: 5px;
}

.main-content__board .btn-more {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main-content__board--news {
  border-top: 2px solid #eee;
}

/* =============== 반응형 =============== */
@media only screen and (min-width: 768px) {
  /* Wrapper */
  .wrapper {
    padding-top: 90px;
  }

  /* Header */
  .header__inner {
    height: 90px;
  }

  .header__btn-search {
    display: none;
  }

  /* Header - Search */
  .header__search-wrap {
    position: relative;
    left: -50px;
    display: block;
    width: 45%;
    height: 38px;
    padding: 0;
    box-shadow: none;
    border: 2px solid #0062b1;
  }

  .search-form {
    width: 100%;
  }

  .search-form input {
    border: none;
  }

  .search-form__btn-search {
    background-image: url(../assets/icon/icon_search_main_2.png);
    background-size: 100% 40px;
    right: 0;
  }

  .search-wrap__btn-close {
    display: none;
  }

  /* Header - Mobile Nav */
  .gnb-mobile__menu-item > button {
    font-size: 17px;
    padding: 14px 20px;
  }

  /* Main - Board */
  .main-content__board {
    padding: 20px 3%;
  }

  .main-content__board-title {
    padding-right: 46px;
    font-size: 18px;
  }

  .main-content__board-list {
    width: calc(100% - 270px);
    margin-top: 4px;
  }

  .main-content__board-list li a {
    max-width: 90%;
    height: 1em;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1070px) {
  /* Wrapper */
  .wrapper {
    padding-top: 107px;
  }

  /* Header */
  .header__inner {
    height: 107px;
  }

  .header__btn-m-menu {
    display: none;
  }

  /* Header - Search */
  .header__search-wrap {
    left: -40px;
    max-width: 510px;
    width: 37%;
    height: 40px;
  }

  .search-form input {
    padding-left: 34px;
    font-size: 15px;
  }

  .search-form input::placeholder {
    opacity: 0.7;
  }

  /* Header - Util */
  .header__util-list {
    display: flex;
  }

  .header__util a {
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    min-width: 72px;
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
    color: #333;
  }

  .header__util:nth-child(1) a {
    background-image: url(../assets/icon/icon_header01_2.png);
  }

  .header__util:nth-child(2) a {
    background-image: url(../assets/icon/icon_header04_2.png);
  }

  /* Header - PC Nav */
  .header__gnb-pc {
    display: block;
  }

  .header__gnb-pc-wrap {
    background-color: #0062b1;
    border-top: 1px solid #0162b1;
  }

  .gnb-pc {
    display: flex;
    height: 59px;
  }

  .gnb-pc__menu-list {
    flex: 1;
    display: flex;
    height: 100%;
  }

  .gnb-pc__menu-item {
    background: url(../assets/top-mu-line_2.png) no-repeat right center;
    display: block;
    width: 16.66666%;
  }

  .gnb-pc__menu-item:last-child {
    background: none;
  }

  .gnb-pc__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 19px;
  }

  .gnb-pc__menu-item.on > .gnb-pc__menu-link {
    background-color: #fff;
    color: #0062b1;
    font-weight: 700;
    border-left: 1px solid #0162b1;
    border-right: 1px solid #0162b1;
  }

  /* Header - PC sub menu */
  .gnb-pc__sub-menu {
    display: none;
  }

  .gnb-pc__sub-menu {
    background-color: #fff;
    width: 100%;
    height: 200px;
    padding: 16px 0 0 21px;
    border-right: 1px solid #e5e6e7;
    border-bottom: 1px solid #3481c1;
    z-index: 100;
  }

  .gnb-pc__menu-item:first-child .gnb-pc__sub-menu {
    border-left: 1px solid #3481c1;
    border-bottom-left-radius: 10px;
  }

  .gnb-pc__menu-item:last-child .gnb-pc__sub-menu {
    width: calc(100% + 67px);
    border-right: 1px solid #3481c1;
    border-bottom-right-radius: 10px;
  }

  .gnb-pc__sub-menu-item {
    position: relative;
    padding: 5px 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;
  }

  .gnb-pc__sub-menu-item a::before {
    background-color: #3c6aa7;
    position: absolute;
    top: 50%;
    left: -8px;
    content: "";
    width: 3px;
    height: 3px;
  }

  .gnb-pc__sub-menu-item a:hover {
    color: #0062b1;
    font-weight: 500;
  }

  .gnb-pc__btn-menu-wrap {
    background-color: #0a3e78;
    width: 67px;
    height: 100%;
    margin-left: auto;
  }

  .gnb-pc__btn-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }

  .gnb-pc__btn-menu .line {
    background-color: #fff;
    position: absolute;
    right: 16px;
    width: 35px;
    height: 4px;
    border-radius: 2px;
  }

  .gnb-pc__btn-menu .line:nth-of-type(1) {
    top: 17px;
  }

  .gnb-pc__btn-menu .line:nth-of-type(2) {
    top: 29px;
    width: 27px;
  }

  .gnb-pc__btn-menu .line:nth-of-type(3) {
    top: 41px;
  }

  /* Main - Board */
  .main-content__board-title {
    padding-right: 76px;
    font-size: 28px;
  }

  .main-content__board-title::after {
    right: 38px;
    height: 22px;
  }

  .main-content__board-list li a {
    max-width: 93%;
    height: 1em;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1300px) {
  /* Header */
  .header__inner {
    width: 1280px;
    margin: 0 auto;
  }

  /* Header - PC Nav */
  .gnb-pc {
    width: 1280px;
    margin: 0 auto;
  }

  /* Main - Board */
  .main-content__board-list {
    width: 880px;
  }
}
