/* Wrapper */
.wrapper {
  padding-top: 45px;
}

/* Header */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
}

.header__btn-search {
  background-image: url(../assets/icon/icon_search.jpg);
  background-size: 20px;
  padding: 12px 3%;
  width: 20px;
  height: 20px;
}

.header__btn-m-menu {
  background-image: url(../assets/icon/icon_gnb.jpg);
  background-size: 23px 14px;
  padding: 15px 3%;
  width: 23px;
  height: 15px;
}

/* Header - Search */
.header__search-wrap {
  display: none;
  position: relative;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 23px 40px;
  box-sizing: content-box;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.search-form {
  position: relative;
  display: flex;
  width: 95%;
  height: 100%;
}

.search-form input {
  width: 100%;
  padding: 0 45px 0 10px;
  border-bottom: 2px solid #0062b1;
}

.search-form__btn-search {
  background-image: url(../assets/icon/icon_top_search_2.png);
  background-size: 25px;
  position: absolute;
  top: 0;
  right: 3px;
  width: 40px;
  height: 100%;
}

.search-wrap__btn-close {
  background-image: url(../assets/icon/icon_close.jpg);
  background-size: 18px;
  position: absolute;
  top: 51%;
  right: 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

/* Header - Util */
.header__util-list {
  display: none;
}

/* Header - PC Nav */
.header__gnb-pc {
  display: none;
}

/* Header - Mobile Nav */
.header__gnb-mobile {
  display: none;
}

.header__gnb-mobile-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__gnb-mobile-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gnb-mobile {
  background-color: #fff;
  position: relative;
  top: 0;
  right: -100%;
  min-width: 290px;
  max-width: 370px;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.gnb-mobile__header {
  background-color: #1e75d6;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 38px;
  padding: 8px 35px 8px 13px;
}

.gnb-mobile__header a {
  display: flex;
  align-items: center;
  color: #fff;
}

.gnb-mobile__link-login {
  background: url(../assets/icon/icon-top-login-m_2.png) no-repeat left 49%;
  padding: 8px 0 8px 25px;
  font-size: 16px;
}

.gnb-mobile__link-join {
  align-self: center;
  padding: 5px 8px;
  margin-left: auto;
  margin-right: 15px;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.gnb-mobile__btn-close {
  background-image: url(../assets/icon/btn_job_cate_close.gif);
  position: absolute;
  top: 50%;
  right: 13px;
  width: 22px;
  height: 47px;
  transform: translateY(-50%);
}

.gnb-mobile__menu-list {
}

.gnb-mobile__menu-item {
  color: #333;
  border-bottom: 1px solid #d9d9d9;
}

.gnb-mobile__menu-item > button {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.gnb-mobile__menu-item > button::after {
  background: url(../assets/icon/arrow_dep1_off_2.png) no-repeat;
  background-size: 100%;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
}

.gnb-mobile__sub-menu {
  display: none;
  background-color: #f7f7f7;
  padding: 8px 0;
  border-top: 1px solid #d9d9d9;
}

.gnb-mobile__link {
  display: block;
  padding: 3px 0 3px 20px;
  font-weight: 500;
}

.gnb-mobile__link::before {
  content: "·";
  padding-right: 3px;
}

.gnb-mobile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.gnb-mobile__mark img {
  width: 100px;
}

.gnb-mobile__link-tel {
  display: block;
  padding: 5px 0;
  color: #1e75d6;
  font-size: 18px;
  font-weight: 500;
}

.gnb-mobile__link-tel img {
  display: inline-block;
  width: auto;
  height: 16px;
}

.gnb-mobile__date {
  color: #333;
}

/* Main */
.main-content__section {
  position: relative;
}

.main-content__section-title {
  font-family: "BMDOHYEON", sans-serif;
  padding: 20px 0 18px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.main-content__section-title strong {
  color: #0062b1;
  font-size: 20px;
  font-weight: 500;
}

/* Main - Banner */
.main-contnet__banner-item .t_content {
  display: none;
}

.main-contnet__banner-item .pc_content {
  display: none;
}

/* Main - Quick Menu */
.main-content__quick-menu {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.main-content__quick-menu-list {
  display: flex;
  width: 100%;
}

.main-content__quick-menu-item {
  display: block;
  width: 33.33333%;
  border-right: 1px solid #d2d5d8;
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: 28px;
}

.main-content__quick-menu-item:last-child {
  border-right: none;
}

.main-content__quick-menu-item:nth-child(1) {
  background-image: url(../assets/icon/icon_quick01_new_2.png);
}

.main-content__quick-menu-item:nth-child(2) {
  background-image: url(../assets/icon/icon_quick02_new_2.png);
}

.main-content__quick-menu-item:nth-child(3) {
  background-image: url(../assets/icon/icon_quick03_new_2.png);
}

.main-content__quick-menu-link {
  display: block;
  padding: 38px 0 5px;
  text-align: center;
}

.main-content__quick-menu-link span {
  color: #0062b1;
  font-weight: 500;
}

.main-content__quick-menu-link p {
  display: none;
}

/* Main - Board */
.main-content__board {
  max-width: 1280px;
  padding: 12px 0;
  margin: 0 auto;
}

.main-content__board .inner {
  position: relative;
  display: flex;
  align-items: center;
}

.main-content__board-title {
  position: relative;
  flex-shrink: 0;
  padding-right: 23px;
  color: #333;
  font-size: 14px;
  letter-spacing: -0.05em;
}

.main-content__board-title::after {
  background-color: #333;
  content: "";
  position: absolute;
  top: 50%;
  right: 11px;
  width: 1px;
  height: 12px;
  transform: translateY(-50%);
}

.main-content__board-list {
  width: calc(100% - 114px);
}

.main-content__board-list li {
  display: none;
  width: 100%;
  padding-left: 7px;
}

.main-content__board-list li.on {
  display: inline-block;
}

.main-content__board-list li a {
  display: inline-block;
  max-width: 90%;
  height: 1em;
  color: #333;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-content__board-list .new {
  margin-left: 5px;
}

.main-content__board .btn-more {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main-content__board--news {
  border-top: 2px solid #eee;
}

/* Main - Policy */
.main-content__section--policy {
  background-color: #f2f4f7;
  padding-bottom: 20px;
}

/* Main - Policy Nav */
.main-content__policy-nav .slick-dots {
  display: flex !important;
  padding-bottom: 14px;
  margin: 0 -2px;
}

.main-content__policy-nav .slick-dots li {
  flex: 1;
  margin: 0 2px;
}

.main-content__policy-nav .nav-item {
  background-color: #fff;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 0;
  color: #666;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.main-content__policy-nav .slick-active .nav-item {
  background-color: #0062b1;
  color: #fff;
  font-weight: 600;
}

.main-content__policy-nav .slick-active .nav-item::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  content: "";
  border-top: 5px solid #0062b1;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translateX(-50%);
}

/* Main - Policy List */
.main-content__policy-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7px;
}

.main-content__policy-item {
  display: block;
  width: calc(50% - 8px);
  height: 106px;
  margin: 0 8px 8px 0;
  border-radius: 3px;
  background-color: #444;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.main-content__policy-item:last-child {
  display: none;
}

.main-content__policy-cont01 .main-content__policy-item {
  background-image: url(../assets/policy/icon_policy01_bg.png);
}

.main-content__policy-cont02 .main-content__policy-item {
  background-image: url(../assets/policy/icon_policy02_bg.png);
}

.main-content__policy-cont03 .main-content__policy-item {
  background-image: url(../assets/policy/icon_policy03_bg.png);
}

.main-content__policy-cont04 .main-content__policy-item {
  background-image: url(../assets/policy/icon_policy04_bg.png);
}

.main-content__policy-cont05 .main-content__policy-item {
  background-image: url(../assets/policy/icon_policy05_bg.png);
}

.main-content__policy-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  color: #fff;
}

.main-content__policy-item a.active {
  padding: 0 10px 0 65px;
  border: 2px dashed #0062b1;
  background: #fff url(../assets/policy/icon_policy01.png) no-repeat 16px center;
  align-items: flex-start;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 40px;
}

.main-content__policy-cont01 .main-content__policy-item a.active {
  background-image: url(../assets/policy/icon_policy01.png);
}

.main-content__policy-cont02 .main-content__policy-item a.active {
  background-image: url(../assets/policy/icon_policy02.png);
}

.main-content__policy-cont03 .main-content__policy-item a.active {
  background-image: url(../assets/policy/icon_policy03.png);
}

.main-content__policy-cont04 .main-content__policy-item a.active {
  background-image: url(../assets/policy/icon_policy04.png);
}

.main-content__policy-cont05 .main-content__policy-item a.active {
  background-image: url(../assets/policy/icon_policy05.png);
}

.main-content__policy-item a strong,
.main-content__policy-item a p {
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.main-content__policy-item a strong {
  margin-bottom: 7px;
  text-align: center;
}

.main-content__policy-item a.active strong {
  color: #333;
}

.main-content__policy-item a p {
  text-align: center;
  font-size: 11px;
  height: 2.8em;
}

.main-content__policy-item a.active p {
  text-align: left;
  color: #666;
}

/* Main - AD Banner */
.main-content__ad-banner-wrap {
  position: relative;
}

.main-content__ad-banner-item a {
  display: block;
}

.main-content__ad-banner-item .pc_content {
  display: none;
}

.main-content__ad-banner-wrap .slider-dots-wrap {
  bottom: 30px;
  left: 30px;
}

/* =============== 반응형 =============== */
@media only screen and (min-width: 768px) {
  /* Wrapper */
  .wrapper {
    padding-top: 90px;
  }

  /* Header */
  .header__inner {
    height: 90px;
  }

  .header__btn-search {
    display: none;
  }

  /* Header - Search */
  .header__search-wrap {
    position: relative;
    left: -50px;
    display: block;
    width: 45%;
    height: 38px;
    padding: 0;
    box-shadow: none;
    border: 2px solid #0062b1;
  }

  .search-form {
    width: 100%;
  }

  .search-form input {
    border: none;
  }

  .search-form__btn-search {
    background-image: url(../assets/icon/icon_search_main_2.png);
    background-size: 100% 40px;
    right: 0;
  }

  .search-wrap__btn-close {
    display: none;
  }

  /* Header - Mobile Nav */
  .gnb-mobile__menu-item > button {
    font-size: 17px;
    padding: 14px 20px;
  }

  /* Main */
  .main-content__section-title {
    padding: 32px 0 28px;
    font-size: 24px;
  }

  .main-content__section-title strong {
    font-size: 27px;
  }

  /* Main - Banner */
  .main-contnet__banner-item .m_content {
    display: none;
  }

  .main-contnet__banner-item .t_content {
    display: block;
  }

  /* Main - Quick Menu */
  .main-content__quick-menu {
    background-color: rgba(0, 97, 180, 0.37);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 0;
    border: none;
  }

  .main-content__quick-menu-list {
    width: 94%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .main-content__quick-menu-item {
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 20px;
    border: 1px solid #d2d5d8;
    border-radius: 10px;
    background-position: 95% center;
    background-size: auto;
  }

  .main-content__quick-menu-item:last-child {
    margin-right: 0;
  }

  .main-content__quick-menu-item:hover {
    background-color: #1670b8;
    border-color: #125faa;
  }

  .main-content__quick-menu-item:hover:nth-child(1) {
    background-image: url(../assets/icon/icon_quick01on_new_2.png);
  }

  .main-content__quick-menu-item:hover:nth-child(2) {
    background-image: url(../assets/icon/icon_quick02on_new_2.png);
  }

  .main-content__quick-menu-item:hover:nth-child(3) {
    background-image: url(../assets/icon/icon_quick03on_new_2.png);
  }

  .main-content__quick-menu-link {
    padding: 20px 60px 20px 25px;
    text-align: left;
  }

  .main-content__quick-menu-link span {
    font-size: 21px;
    font-weight: 600;
  }

  .main-content__quick-menu-item:hover .main-content__quick-menu-link span {
    color: #fff;
  }

  .main-content__quick-menu-link p {
    display: block;
    margin-top: 8px;
    font-size: 15px;
    letter-spacing: -1px;
    color: #666;
    font-weight: 500;
    word-break: keep-all;
  }

  .main-content__quick-menu-item:hover .main-content__quick-menu-link p {
    color: #fff;
  }

  /* Main - Board */
  .main-content__board {
    padding: 20px 3%;
  }

  .main-content__board-title {
    padding-right: 46px;
    font-size: 18px;
  }

  .main-content__board-list {
    width: calc(100% - 320px);
    margin-top: 4px;
  }

  .main-content__board-list li a {
    max-width: 90%;
    height: 1em;
    font-size: 15px;
  }

  /* Main - Policy Nav */
  .main-content__policy-nav .nav-item {
    padding: 8px 0;
    font-size: 15px;
  }

  /* Main - Policy List */
  .main-content__policy-item {
    width: calc(33.333333% - 8px);
    height: 115px;
  }

  .main-content__policy-item:last-child {
    display: block;
  }

  .main-content__policy-item a.active {
    padding: 0 15px 0 75px;
  }

  .main-content__policy-item a strong {
    font-size: 16px;
  }

  .main-content__policy-item a p {
    font-size: 13px;
    height: 2.4em;
  }
}

@media only screen and (min-width: 1070px) {
  /* Wrapper */
  .wrapper {
    padding-top: 165px;
  }

  /* Header */
  .header__inner {
    height: 107px;
  }

  .header__btn-m-menu {
    display: none;
  }

  /* Header - Search */
  .header__search-wrap {
    left: -40px;
    max-width: 510px;
    width: 37%;
    height: 40px;
  }

  .search-form input {
    padding-left: 34px;
    font-size: 15px;
  }

  .search-form input::placeholder {
    opacity: 0.7;
  }

  /* Header - Util */
  .header__util-list {
    display: flex;
  }

  .header__util a {
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    min-width: 72px;
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
    color: #333;
  }

  .header__util:nth-child(1) a {
    background-image: url(../assets/icon/icon_header01_2.png);
  }

  .header__util:nth-child(2) a {
    background-image: url(../assets/icon/icon_header04_2.png);
  }

  /* Header - PC Nav */
  .header__gnb-pc {
    display: block;
  }

  .header__gnb-pc-wrap {
    background-color: #0062b1;
    border-top: 1px solid #0162b1;
  }

  .gnb-pc {
    display: flex;
    height: 59px;
  }

  .gnb-pc__menu-list {
    flex: 1;
    display: flex;
    height: 100%;
  }

  .gnb-pc__menu-item {
    background: url(../assets/top-mu-line_2.png) no-repeat right center;
    display: block;
    width: 16.66666%;
  }

  .gnb-pc__menu-item:last-child {
    background: none;
  }

  .gnb-pc__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 19px;
  }

  .gnb-pc__menu-item.on > .gnb-pc__menu-link {
    background-color: #fff;
    color: #0062b1;
    font-weight: 700;
    border-left: 1px solid #0162b1;
    border-right: 1px solid #0162b1;
  }

  /* Header - PC sub menu */
  .gnb-pc__sub-menu {
    display: none;
  }

  .gnb-pc__sub-menu {
    background-color: #fff;
    width: 100%;
    height: 200px;
    padding: 16px 0 0 21px;
    border-right: 1px solid #e5e6e7;
    border-bottom: 1px solid #3481c1;
    z-index: 100;
  }

  .gnb-pc__menu-item:first-child .gnb-pc__sub-menu {
    border-left: 1px solid #3481c1;
    border-bottom-left-radius: 10px;
  }

  .gnb-pc__menu-item:last-child .gnb-pc__sub-menu {
    width: calc(100% + 67px);
    border-right: 1px solid #3481c1;
    border-bottom-right-radius: 10px;
  }

  .gnb-pc__sub-menu-item {
    position: relative;
    padding: 5px 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;
  }

  .gnb-pc__sub-menu-item a::before {
    background-color: #3c6aa7;
    position: absolute;
    top: 50%;
    left: -8px;
    content: "";
    width: 3px;
    height: 3px;
  }

  .gnb-pc__sub-menu-item a:hover {
    color: #0062b1;
    font-weight: 500;
  }

  .gnb-pc__btn-menu-wrap {
    background-color: #0a3e78;
    width: 67px;
    height: 100%;
    margin-left: auto;
  }

  .gnb-pc__btn-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }

  .gnb-pc__btn-menu .line {
    background-color: #fff;
    position: absolute;
    right: 16px;
    width: 35px;
    height: 4px;
    border-radius: 2px;
  }

  .gnb-pc__btn-menu .line:nth-of-type(1) {
    top: 17px;
  }

  .gnb-pc__btn-menu .line:nth-of-type(2) {
    top: 29px;
    width: 27px;
  }

  .gnb-pc__btn-menu .line:nth-of-type(3) {
    top: 41px;
  }

  /* Main */
  .main-content__section-title {
    padding: 73px 0 42px;
    font-size: 35px;
  }

  .main-content__section-title strong {
    font-size: 40px;
  }

  /* Main - Banner */
  .main-content__banner .main-contnet__banner-item.slick-slide {
    position: relative;
    height: 660px;
    overflow: hidden;
  }

  .main-contnet__banner-item .t_content {
    display: none;
  }

  .main-contnet__banner-item .pc_content {
    position: relative;
    left: 50%;
    display: block;
    width: auto;
    transform: translateX(-50%);
  }

  .main-content__banner .slick-prev {
    left: 5%;
  }

  .main-content__banner .slick-next {
    right: 5%;
  }

  /* Main - Board */
  .main-content__board-title {
    padding-right: 76px;
    font-size: 28px;
  }

  .main-content__board-title::after {
    right: 38px;
    height: 22px;
  }

  .main-content__board-list li a {
    max-width: 93%;
    height: 1em;
    font-size: 17px;
  }

  /* Main - Policy Nav */
  .main-content__policy-nav .nav-item {
    padding: 12px 0;
    font-size: 21px;
  }

  .main-content__policy-nav .slick-active .nav-item::after {
    bottom: -10px;
    border-top: 10px solid #0062b1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  /* Main - Policy List */
  .main-content__policy .slick-prev {
    left: 1%;
  }

  .main-content__policy .slick-next {
    right: 1%;
  }

  .main-content__policy-item {
    height: 175px;
  }

  .main-content__policy-item a.active {
    padding: 0 20px 0 127px;
    background-position: 27px center;
    background-size: auto;
  }

  .main-content__policy-item a strong {
    font-size: 20px;
  }

  .main-content__policy-item a p {
    font-size: 15px;
  }

  /* Main - AD Banner */
  .main-content__ad-banner-item .m_content {
    display: none;
  }

  .main-content__ad-banner-item .pc_content {
    display: block;
  }
}

@media only screen and (min-width: 1300px) {
  /* Header */
  .header__inner {
    width: 1280px;
    margin: 0 auto;
  }

  /* Header - PC Nav */
  .gnb-pc {
    width: 1280px;
    margin: 0 auto;
  }

  /* Main - Board */
  .main-content__board-list {
    width: 880px;
  }
}
