/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Roboto", "맑은 고딕", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  -webkit-text-size-adjust: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Default CSS */
.link-icon {
  display: block;
  width: 24px;
  margin-left: 14px;
}

.link-text-large {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.09rem;
}

.link-text-medium {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.icon {
  display: block;
  width: 100%;
  height: auto;
}

.category-item {
  line-height: 0.9;
}

.hidden-text {
  background: url(./assets/decobar.png) repeat-x;
  background-position: 0 0.5em;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: transparent;
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}

/* margin */
.mb-8 {
  margin-bottom: 8px;
}

/* Wrapper */
#wrapper {
  position: relative;
  padding: 23px;
  padding-bottom: 0;
}

/* Header */
#header {
}

/* Header - Header Top */
#header .header-top {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 15px;
}

#header .header-top .link-logo {
  display: block;
  width: 16px;
  margin-left: 5px;
}

#header .header-top .mobile-menu {
  display: flex;
}

#header .header-top .mobile-menu .btn-cart {
  background-color: #b5b5b6;
  height: 24px;
  font-size: 1.3rem;
}

#header .header-top .mobile-menu .btn-store {
  width: 26px;
}

/* Header - Category (global navbar) */
#header .global-navbar {
}

#header .global-navbar .category {
  min-height: 200px;
  margin-bottom: 20px;
}

#header .global-navbar .btn-circle {
  background-color: #ff5000;
  width: 65px;
  height: 65px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* Header - Mobile Menu Dropdown */
#header .mobile-menu-dropdown {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 100;
  transition: max-height 250ms ease-in-out;
}

#header .mobile-menu-dropdown .menu-list {
  padding: 23px;
}

#header .mobile-menu-dropdown .menu-list li {
  border-bottom: 1px solid #b5b5b5;
}

#header .mobile-menu-dropdown .menu-list .link-text-medium {
  padding: 10px 0;
  color: #666;
}

#header .mobile-menu-dropdown .btn-close {
  position: absolute;
  top: 23px;
  right: 25px;
  margin: 0;
}

/* Main */
#main {
  height: 3000px;
  background-color: aliceblue;
}

@media screen and (min-width: 769px) {
  /* Default CSS */
  .link-icon {
    width: 28px;
    margin-left: 18px;
  }

  .link-text-large {
    font-size: 8rem;
  }

  .link-text-medium {
    font-size: 1.9rem;
  }

  /* Header - Header Top */
  #header .header-top {
    height: 45px;
    margin-bottom: 23px;
  }

  #header .header-top .link-logo {
    width: 20px;
    margin-left: 15px;
  }

  #header .header-top .mobile-menu .btn-cart {
    height: 28px;
    font-size: 1.6rem;
  }

  #header .header-top .mobile-menu .btn-store {
    width: 30px;
  }

  /* Header - Category (global navbar) */
  #header .global-navbar .category {
    margin-bottom: 30px;
  }

  #header .global-navbar .btn-circle {
    width: 112px;
    height: 112px;
    font-size: 1.5rem;
  }

  /* Header - Mobile Menu Dropdown */
  #header .mobile-menu-dropdown .menu-list .link-text-medium {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1001px) {
  /* Default CSS */
  .link-text-large {
    font-size: 4.2rem;
  }

  .category-item {
    margin: 0;
  }

  /* Wrapper */
  #wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 42px;
    padding-bottom: 0;
    overflow: hidden;
  }

  /* Header */
  #header {
    width: 30%;
  }

  #main {
    overflow: scroll;
    width: 70%;
    max-height: calc(100vh - 42px - 30px);
  }

  #footer {
    width: 100%;
    height: 30px;
  }

  /* Header - Header Top */
  #header .header-top {
    height: auto;
  }

  #header .header-top .link-logo {
    width: 14px;
    margin-left: 5px;
  }

  /* Header - Header Top */
  #header .header-top .mobile-menu {
    display: none;
  }

  /* Header - Category (global navbar) */
  #header .global-navbar .category {
    min-height: 160px;
    margin-bottom: 30px;
  }

  #header .global-navbar .btn-circle {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  /* Header - Mobile Menu Dropdown */
  #header .mobile-menu-dropdown {
    display: none;
  }
}
