/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Roboto", "맑은 고딕", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  -webkit-text-size-adjust: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Default CSS */
.link-icon {
  display: block;
  width: 24px;
  margin-left: 14px;
}

.link-text-large {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.09rem;
}

.link-text-medium {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.link-text-small {
  display: block;
  color: #898989;
  font-size: 1.3rem;
  font-weight: 700;
}

.icon {
  display: block;
  width: 100%;
  height: auto;
}

.category-item {
  line-height: 0.9;
}

.hidden-text {
  position: relative;
  background: url(./assets/decobar.png) repeat-x;
  background-position: 0 0.5em;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: transparent;
}

.hidden-text::after {
  background-color: #e6e6e6;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}

.link-product {
  display: block;
  padding: 3px;
}

.grid-big {
  width: 66.4%;
}

.grid-small {
  width: 33.4%;
}

.img-fix {
  display: block;
  width: 100%;
  height: 100%;
}

/* margin */
.mb-8 {
  margin-bottom: 8px;
}

/* Wrapper */
#wrapper {
  position: relative;
  padding: 23px;
  padding-bottom: 0;
}

/* Header */
#header {
  margin-bottom: 30px;
}

/* Header - Header Top */
#header .header-top {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 15px;
}

#header .header-top .link-logo {
  display: block;
  width: 16px;
  margin-left: 5px;
}

#header .header-top .mobile-menu {
  display: flex;
}

#header .header-top .mobile-menu .btn-cart {
  background-color: #b5b5b6;
  height: 24px;
  font-size: 1.3rem;
}

#header .header-top .mobile-menu .btn-store {
  width: 26px;
}

/* Header - Category (global navbar) */
#header .global-navbar .category {
  min-height: 200px;
  margin-bottom: 20px;
}

#header .global-navbar .category .category-item:hover {
  color: #e6e6e6;
}

#header .global-navbar .category .category-item:hover .hidden-text {
  opacity: 0.1;
}

#header .global-navbar .btn-circle {
  background-color: #ff5000;
  width: 65px;
  height: 65px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* Header - Mobile Menu Dropdown */
#header .mobile-menu-dropdown {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 100;
  transition: max-height 250ms ease-in-out;
}

#header .mobile-menu-dropdown .menu-list {
  padding: 23px;
}

#header .mobile-menu-dropdown .menu-list li {
  border-bottom: 1px solid #b5b5b5;
}

#header .mobile-menu-dropdown .menu-list .link-text-medium {
  padding: 10px 0;
  color: #666;
}

#header .mobile-menu-dropdown .btn-close {
  position: absolute;
  top: 23px;
  right: 25px;
  margin: 0;
}

/* Main */
#main {
  padding-bottom: 60px;
}

/* Main - Slider */
#main .slider-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}

#main .slider-wrap .slider {
  display: flex;
  width: 100%;
}

#main .slider-wrap .slider .slider-item {
  flex-shrink: 0;
  width: 100%;
}

#main .slider-wrap .slider .slider-item a {
  display: block;
}

#main .slider-wrap .slider-pagination {
  position: absolute;
  right: 15px;
  bottom: 20px;
  display: flex;
}

#main .slider-wrap .slider-pagination .bullet {
  margin-right: 7px;
}

#main .slider-wrap .slider-pagination .bullet button {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
  border-radius: 50%;
}

#main .slider-wrap .slider-pagination .bullet button.active {
  background-color: #6d6e71;
}

/* Main - Content */
#main .content .grid-col {
  display: flex;
}

#main .content .grid-col .img-fix img {
  height: 100%;
}

/* Footer */
#footer {
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
}

#footer .footer-left,
#footer .footer-right .footer-desc {
  display: none;
}

#footer .footer-right {
  display: flex;
  justify-content: space-between;
}

#footer .footer-right .footer-sns {
  display: flex;
  align-items: center;
}

#footer .footer-right .footer-sns .link-sns {
  display: block;
  width: 16px;
  margin-left: 5px;
  margin-right: 15px;
}

#footer .footer-right .text {
  margin-left: auto;
  color: #898989;
  font-size: 1.4rem;
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  /* Default CSS */
  .link-icon {
    width: 28px;
    margin-left: 18px;
  }

  .link-text-large {
    font-size: 8rem;
  }

  .link-text-medium {
    font-size: 1.9rem;
  }

  /* Header */
  #header {
    margin-bottom: 60px;
  }

  /* Header - Header Top */
  #header .header-top {
    height: 45px;
    margin-bottom: 23px;
  }

  #header .header-top .link-logo {
    width: 20px;
    margin-left: 15px;
  }

  #header .header-top .mobile-menu .btn-cart {
    height: 28px;
    font-size: 1.6rem;
  }

  #header .header-top .mobile-menu .btn-store {
    width: 30px;
  }

  /* Header - Category (global navbar) */
  #header .global-navbar .category {
    margin-bottom: 30px;
  }

  #header .global-navbar .btn-circle {
    width: 112px;
    height: 112px;
    font-size: 1.5rem;
  }

  /* Header - Mobile Menu Dropdown */
  #header .mobile-menu-dropdown .menu-list .link-text-medium {
    padding: 16px 0;
  }

  /* Footer */
  #footer .footer-right .footer-sns .link-sns {
    width: 30px;
    margin-right: 30px;
  }

  #footer .footer-right .text {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1001px) {
  /* Default CSS */
  .link-text-large {
    font-size: 4.2rem;
  }

  .category-item {
    margin: 0;
  }

  /* Wrapper */
  #wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 42px;
    padding-bottom: 0;
  }

  /* Header */
  #header {
    position: fixed;
    width: 30%;
    margin-bottom: 0;
  }

  #main {
    width: 70%;
    height: auto;
    margin-left: auto;
  }

  /* Header - Header Top */
  #header .header-top {
    height: auto;
  }

  #header .header-top .link-logo {
    width: 14px;
    margin-left: 5px;
  }

  /* Header - Header Top */
  #header .header-top .mobile-menu {
    display: none;
  }

  /* Header - Category (global navbar) */
  #header .global-navbar .category {
    min-height: 160px;
    margin-bottom: 30px;
  }

  #header .global-navbar .btn-circle {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  /* Header - Mobile Menu Dropdown */
  #header .mobile-menu-dropdown {
    display: none;
  }

  /* Main */
  #main {
    margin-bottom: 60px;
  }

  /* Main - Slider */
  #main .slider-wrap {
    margin-bottom: 200px;
  }

  /* Footer */
  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 28px 42px;
    z-index: 100;
  }

  #footer .footer-left,
  #footer .footer-right .footer-desc {
    display: block;
  }

  #footer .footer-left {
    display: flex;
    align-items: center;
    width: 30%;
  }

  #footer .footer-left .link-text-small {
    margin-right: 23px;
  }

  #footer .footer-left .cart {
    display: flex;
    align-items: center;
  }

  #footer .footer-left .cart .btn-circle {
    background-color: #ff5000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    min-width: 8px;
    font-size: 1.2rem;
  }

  #footer .footer-right {
    width: 70%;
  }

  #footer .footer-right .footer-desc {
    color: #898989;
    font-weight: 700;
  }

  #footer .footer-right .footer-sns .link-sns {
    width: 14px;
    margin: 0 5px;
  }

  #footer .footer-right .text {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  /* Default CSS */
  .link-text-large {
    font-size: 5.4rem;
  }

  /* Header - Category (global navbar) */
  #header .global-navbar .btn-circle {
    width: 75px;
    height: 75px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1601px) {
  /* Default CSS */
  .link-text-large {
    font-size: 8.2rem;
  }

  /* Header */
  #header {
    width: 35%;
  }

  #main {
    width: 65%;
  }

  /* Header - Header Top */
  #header .header-top {
    margin-bottom: 30px;
  }

  #header .header-top .link-logo {
    width: 20px;
    margin-left: 15px;
  }

  /* Header - Category (global navbar) */
  #header .global-navbar .btn-circle {
    width: 116px;
    height: 116px;
    font-size: 1.5rem;
  }
}
