/* Wrapper */
#wrapper {
  position: relative;
  padding: 23px;
  padding-bottom: 0;
}

/* Header */
.header {
  margin-bottom: 30px;
}

/* Header - Header Top */
.header__top {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 15px;
}
/* ----로고 */
.logo__link {
  display: block;
  width: 16px;
  margin-left: 5px;
}

/* ---- 모바일 메뉴 */
.mobile-menu {
  display: flex;
}

.mobile-menu__item--cart {
  background-color: #b5b5b6;
  height: 24px;
  font-size: 1.3rem;
}

.mobile-menu__item--store {
  width: 26px;
}

/* ----글로벌 네비게이션 */
.global-nav__category {
  min-height: 200px;
  margin-bottom: 20px;
}

.global-nav__category-item {
  line-height: 0.9;
}

.global-nav__category-item:hover {
  color: #e6e6e6;
}

.global-nav__category-item:hover .hidden-text {
  opacity: 0.1;
}

.global-nav__container .link-icon--circle {
  background-color: #ff5000;
  width: 65px;
  height: 65px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* ----모바일 드롭다운 메뉴 */
.mobile-dropdown-menu {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 100;
  transition: max-height 250ms ease-in-out;
}

.mobile-dropdown-menu__list {
  padding: 23px;
}

.mobile-dropdown-menu__item {
  border-bottom: 1px solid #b5b5b5;
}

.mobile-dropdown-menu__item .link-text--medium {
  padding: 10px 0;
  color: #666;
}

.mobile-dropdown-menu__button--close {
  position: absolute;
  top: 23px;
  right: 25px;
  margin: 0;
}

/* Main */
#main {
  padding-bottom: 60px;
}

/* Main - Slider */
#main .slider-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}

#main .slider-wrap .slider {
  display: flex;
  width: 100%;
}

#main .slider-wrap .slider .slider-item {
  flex-shrink: 0;
  width: 100%;
}

#main .slider-wrap .slider .slider-item a {
  display: block;
}

#main .slider-wrap .slider-pagination {
  position: absolute;
  right: 15px;
  bottom: 20px;
  display: flex;
}

#main .slider-wrap .slider-pagination .bullet {
  margin-right: 7px;
}

#main .slider-wrap .slider-pagination .bullet button {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
  border-radius: 50%;
}

#main .slider-wrap .slider-pagination .bullet button.active {
  background-color: #6d6e71;
}

/* Main - Content */
#main .content .grid-col {
  display: flex;
}

#main .content .grid-col .img-fix img {
  height: 100%;
}

/* Footer */
#footer {
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
}

#footer .footer-left,
#footer .footer-right .footer-desc {
  display: none;
}

#footer .footer-right {
  display: flex;
  justify-content: space-between;
}

#footer .footer-right .footer-sns {
  display: flex;
  align-items: center;
}

#footer .footer-right .footer-sns .link-sns {
  display: block;
  width: 16px;
  margin-left: 5px;
  margin-right: 15px;
}

#footer .footer-right .text {
  margin-left: auto;
  color: #898989;
  font-size: 1.4rem;
  font-weight: 700;
}

/* ========== 반 응 형 ========== */
@media screen and (min-width: 769px) {
  /* Header */
  .header {
    margin-bottom: 60px;
  }

  /* Header - Header Top */
  .header__top {
    height: 45px;
    margin-bottom: 23px;
  }

  /* ----로고 */
  .logo__link {
    width: 20px;
    margin-left: 15px;
  }

  /* ----모바일 메뉴 */
  .mobile-menu__item--cart {
    height: 28px;
    font-size: 1.6rem;
  }

  .mobile-menu__item--store {
    width: 30px;
  }

  /* ----글로벌 네비게이션 */
  .global-nav__category {
    margin-bottom: 30px;
  }

  .global-nav__container .link-icon--circle {
    width: 112px;
    height: 112px;
    font-size: 1.5rem;
  }

  /* ----모바일 드롭다운 메뉴 */
  .mobile-dropdown-menu__item .link-text--medium {
    padding: 16px 0;
  }

  /* Footer */
  #footer .footer-right .footer-sns .link-sns {
    width: 30px;
    margin-right: 30px;
  }

  #footer .footer-right .text {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1001px) {
  /* Wrapper */
  #wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 42px;
    padding-bottom: 0;
  }

  /* Header */
  .header {
    position: fixed;
    width: 30%;
    margin-bottom: 0;
  }

  /* ***************뜬금 메인?? Main */
  #main {
    width: 70%;
    height: auto;
    margin-left: auto;
  }

  /* Header - Header Top */
  .header__top {
    height: auto;
  }

  /* ----로고 */
  .logo__link {
    width: 14px;
    margin-left: 5px;
  }

  /* ---- 모바일 메뉴 */
  .mobile-menu {
    display: none;
  }

  /* ----글로벌 네비게이션 */
  .global-nav__category {
    min-height: 160px;
    margin-bottom: 30px;
  }

  .global-nav__category-item {
    margin: 0;
  }

  .global-nav__container .link-icon--circle {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  /* ----모바일 드롭다운 메뉴 */
  .mobile-dropdown-menu {
    display: none;
  }

  /* Main */
  #main {
    margin-bottom: 60px;
  }

  /* Main - Slider */
  #main .slider-wrap {
    margin-bottom: 200px;
  }

  /* Footer */
  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 28px 42px;
    z-index: 100;
  }

  #footer .footer-left,
  #footer .footer-right .footer-desc {
    display: block;
  }

  #footer .footer-left {
    display: flex;
    align-items: center;
    width: 30%;
  }

  #footer .footer-left .link-text-small {
    margin-right: 23px;
  }

  #footer .footer-left .cart {
    display: flex;
    align-items: center;
  }

  #footer .footer-left .cart .btn-circle {
    background-color: #ff5000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    min-width: 8px;
    font-size: 1.2rem;
  }

  #footer .footer-right {
    width: 70%;
  }

  #footer .footer-right .footer-desc {
    color: #898989;
    font-size: 1.3rem;
    font-weight: 700;
  }

  #footer .footer-right .footer-sns .link-sns {
    width: 14px;
    margin: 0 5px;
  }

  #footer .footer-right .text {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  /* ----글로벌 네비게이션 */
  .global-nav__container .link-icon--circle {
    width: 75px;
    height: 75px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1601px) {
  /* Header */
  .header {
    width: 35%;
  }

  /* ***************뜬금 메인?? Main */
  #main {
    width: 65%;
  }

  /* Header - Header Top */
  .header__top {
    margin-bottom: 30px;
  }

  /* ----로고 */
  .logo__link {
    width: 20px;
    margin-left: 15px;
  }

  /* ----글로벌 네비게이션 */
  .global-nav__container .link-icon--circle {
    width: 116px;
    height: 116px;
    font-size: 1.5rem;
  }
}
