/* Common */
.blind {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  text-indent: -9999px;
}

.logo {
  color: #39312b;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -4px;
}

.btn-default {
  font-size: 32px;
}

.lnr {
  display: block;
}

.section-title {
  font-size: 16px;
}

/* Layout */
body {
  font-family: 'NanumSquare', sans-serif !important;
  color: #4e4e4e;
  font-size: 14px;
  line-height: 1.4;
}

.wrap {
  width: 100%;
  height: 100vh;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  z-index: 100;
}

.main-header__btn-open {
  
}

.main-header__gnb-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.gnb {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  transition: 0.5s;
}

.gnb__menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.gnb__link {
  padding: 15px 0;
  margin: 0 30px;
  font-size: 20px;
  text-transform: uppercase;
}

.gnb__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Visual */
.visual {
  /* height: 80vh; */
  padding-bottom: 50px;
  margin-top: 60px;
}

.slide {
}

.slide__item {
  position: relative;
}

.slide__photo {
  position: relative;
  width: 87%;
}

.slide__img-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide__img-box img {
  display: block;
  width: auto;
  height: 80vh;
  transition: 0.5s;
}

.slick-active .slide__img-box img {
  animation: image-scale 3.8s;
}

.mask {
  background-color: #000;
  position: absolute;
  top: 0;
  height: 100%;
}

.slick-active .mask {
  animation: mask 0.6s;
}

.mask-a {
  left: 0;
}

.mask-b {
  left: 25%;
}

.slick-active .mask-b{
  animation-delay: 0.1s;
}

.mask-c {
  left: 50%;
}

.slick-active .mask-c{
  animation-delay: 0.2s;
}

.mask-d {
  left: 75%;
}

.slick-active .mask-d{
  animation-delay: 0.3s;
}

.slide__page {
  position: absolute;
  top: 50%;
  right: -43px;
  transform: translateY(-50%);
}

.slide__page img {
  width: 55%;
  margin-left: 15%;
}

.slide__text {
  position: absolute;
  top: 40%;
  left: 6%;
  color: #fff;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.7);
}

.slide__title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.slide_desc {
  font-size: 11px;
}

/* slick-dots */
.slick-dots {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.slick-dots li button {
  background-color: #ccc;
  width: 8px;
  height: 8px;
  margin-bottom: 10px;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #39312b;
}

.visual__menu {
  display: none;
}

/* About */
.about {
  background: url(../image/main2_bg.jpg) no-repeat center/cover;
  height: 480px;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 1.2%;
}

.about .section-title {
  margin-bottom: 10px;
}

.about__line-box {
  display: none;
}

.about__text-item {
  padding: 0 18px;
  margin-top: 20px;
}

.about__item-heading {
  font-size: 14px;
  margin-bottom: 8px;
}

.about__item-desc {
  color: #c5c5c5;
  font-size: 11px;
  line-height: 1.4;
  word-break: keep-all;
}

/* Premium */
.premium {
  background: url(../image/con2_bg.jpg) no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 40px;
  overflow: hidden;
}

.premium__text-img {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 32px;
}

.premium__text-img img {
  height: 100%;
}

.premium__text {
  text-align: center;
  padding: 0 1%;
  z-index: 1;
}

.premium .section-title {
  margin-bottom: 20px;
}

.premium__desc {
  font-size: 11px;
  margin-bottom: 20px;
}

.premium__link-more {
  position: relative;
  display: inline-block;
  font-size: 18px;
}

.premium__link-more::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 12px;
  transition: 0.3s;
}

.premium__link-more:hover::before {
  width: 0;
}

.premium__banners {
  position: relative;
  height: 350px;
  margin-top: 80px;
}

.premium__banner {
  position: absolute;
  width: 28%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.premium__banner:nth-of-type(1) {
  top: 15%;
  left: 12%;
}

.premium__banner:nth-of-type(2) {
  top: 43%;
  left: 5%;
}

.premium__banner:nth-of-type(3) {
  top: 52%;
  left: 53%;
}

.premium__banner:nth-of-type(4) {
  top: -3%;
  left: 44%;
  width: 50%;
}

.premium__banner img {
  display: block;
  width: 100%;
}

/* Service */
.service {
  position: relative;
  padding: 40px 0;
  text-align: center;
}

.service::before {
  content: "";
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  z-index: -1;
}

.service__text-box {
  margin-bottom: 50px;
}

.service .section-title {
  margin-bottom: 20px;
}

.service__text {
  font-size: 11px;
}

.service__service-list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  padding-top: 50px;
  margin: 0 auto;
}

.service__link {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.service__link:nth-of-type(odd) {
  margin-top: -50px;
}

.service__img-box {
  box-shadow: 10px 10px 10px rgb(0 0 0 / 25%);
  transition: 0.3s;
}

.service__link:hover .service__img-box {
  transform: translate(-8px, -8px);
}

.service__img-box img {
  display: block;
  width: 100%;
}

.service__name {
  margin: 20px 0 10px;
  font-weight: bold;
}

.service__name-en {
  display: block;
  color: #888;
  font-size: 12px;
  font-weight: normal;
}

.service__desc {
  font-size: 10px;
}


/* 애니메이션 */
@keyframes image-scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mask {
  0% {
    width: 100%;
  }
  100% {
    width: 1px;
  }
}

@keyframes scale-ani {
  0%, 40% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

/* 반응형 */
@media screen and (min-width: 320px) {
  /* Common */
  .section-title {
    font-size: 21px;
  }

  /* Visual */
  .slide__title {
    font-size: 29px;
  }

  .slide__desc {
    font-size: 14px;
  }

  .slide__page img {
    width: 75%;
    margin-left: 8%;
  }

  /* slick-dots */  
  .slick-dots li button {
    width: 12px;
    height: 12px;
    margin-bottom: 15px;
  }

  /* About */
  .about__item-heading {
    font-size: 17px;
  }

  .about__item-desc {
    font-size: 14px;
    font-weight: 100;
  }

  /* Premium */
  .premium {
    height: 685px;
  }

  .premium__text-img {
    top: 25%;
    text-align: center;
  }

  .premium__banners {
    margin-top: 100px;
  }

  .premium__banner {
    width: 22%;
  }

  .premium__banner:nth-of-type(2) {
    top: 56%;
  }

  .premium__banner:nth-of-type(3) {
    top: 82%;
    left: 40%;
  }

  /* Service */
  .service__text {
    font-size: 13px;
  }

  .service__name {
    font-size: 16px;
  }

  .service__desc {
    word-break: keep-all;
  }
}

@media screen and (min-width: 750px) {
  /* Common */
  .section-title {
    font-size: 23px;
  }

  /* Visual */
  .visual {
    height: auto;
  }

  .slide__photo {
    width: 92%;
  }

  .slide__img-box img {
    height: 100%;
  }

  .slide__page img {
    width: 100%;
    margin-left: 0;
  }

  .slide__title {
    font-size: 50px;
  }

  .slide__desc {
    font-size: 20px;
  }

  /* slick-dots */
  .slick-dots {
    right: 4.5%;
  }

  /* About */
  .about__line-box {
    position: relative;
    display: block;
    width: 60%;
    margin: 80px auto 30px;
  }

  .about__line {
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    width: 100%;
    height: 1px;
  }

  .about__dots {
    position: relative;
  }

  .about__dot {
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .about__dot::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: -3px 0 0 -3px;
    border-radius: 50%;
    animation: scale-ani 1.6s infinite ;
  }

  .about__dot:nth-of-type(1) {
    left: 0;
  }

  .about__dot:nth-of-type(2) {
    left: 50%;
  }

  .about__dot:nth-of-type(3) {
    left: 100%;
  }

  .about__text {
    display: flex;
  }

  .about__text-item {
    padding: 0 8px;
    margin-top: 0;
  }

  .about__item-heading {
    margin-bottom: 20px;
    font-size: 18px;
  }

  /* Premium */
  .premium {
    height: 800px;
  }

  .premium__text-img {
    top: 27%;
    left: 20px;
    height: 60px;
    text-align: left;
  }

  .premium__text {
    margin: 15px 0;
  }

  .premium__desc {
    font-size: 19px;
    margin-bottom: 30px;
  }

  .premium__link-more {
    font-size: 24px;
  }

  .premium__link-more::before {
    width: 80px;
    height: 15px;
  }

  .premium__banners {
    width: 80%;
    height: 500px;
    margin: 110px auto 0;
  }

  .premium__banner:nth-of-type(2) {
    top: 52%;
  }

  .premium__banner:nth-of-type(3) {
    top: 62%;
    left: 37%;
  }

  .premium__banner:nth-of-type(4) {
    left: 48%;
    width: 48%;
  }

  /* Service */
  .service__text {
    font-size: 18px;
  }

  .service__service-list {
    flex-wrap: nowrap;
    width: 98%;
  }

  .service__name {
    font-size: 22px;
  }

  .service__name-en {
    font-size: 18px;
  }

  .service__desc {
    font-size: 15px;
  }
}

@media screen and (min-width: 950px) {
  /* Common */
  .section-title {
    font-size: 30px;
  }

  /* Visual */
  .visual__menu {
    position: absolute;
    left: 5%;
    bottom: 13%;
    display: flex;
  }

  .visual__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  
  .visual__menu-text {
    margin-right: 20px;
    color: #fff;
    font-size: 17px;
    line-height: 1.6;
  }

  .visual__menu-sub-text {
    display: block;
    color: #aaa;
    font-size: 15px;
  }

  .visual__menu-arrow {
    position: relative;
  }

  .visual__menu-arrow::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }

  .visual__menu-link:hover .visual__menu-arrow::before {
    top: 0;
    right: 0;
  }

  /* About */
  .about {
    height: 600px;
  }

  .about__line-box {
    width: 40%;
  }

  .about__text {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .about__text-item {
    width: 50%;
  }

  .about__item-heading {
    font-size: 18px;
  }

  .about__item-desc {
    font-size: 17px;
  }

  /* Premium */
  .premium {
    /* height: 700px; */
  }

  .premium__text-img {
    top: 20%;
    left: 5px;
    width: 100%;
    height: auto;
  }

  .premium__text {
    position: absolute;
    top: 35%;
    left: 5%;
    text-align: left;
  }

  .premium__banners {
    top: 20%;
    width: auto;
    margin: 0;
  }

  .premium__banner {
    width: 14%;
  }

  .premium__banner:nth-of-type(1) {
    top: -1%;
    left: 45%;
  }
  
  .premium__banner:nth-of-type(2) {
    top: 57%;
    left: 37%;
  }
  
  .premium__banner:nth-of-type(3) {
    top: 82%;
    left: 56%;
  }

  .premium__banner:nth-of-type(4) {
    left: auto;
    top: -10%;
    right: 2%;
    width: 30%;
  }
}

@media screen and (min-width: 1100px) {
  /* Common */
  .only-mo {
    display: none;
  }

  .logo {
    font-size: 42px;
    letter-spacing: -6px;
  }

  /* Header */
  .main-header {
    height: 120px;
    padding: 0 60px;
  }

  .gnb {
    background-color: transparent;
    position: static;
    width: auto;
    height: 100%;
  }

  .gnb__menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
  }

  .gnb__link {
    position: relative;
    font-size: 18px;
  }

  .gnb__link::after {
    content: "";
    background-color: #4e4e4e;
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 0;
    height: 1px;
    transform: translateX(-50%);
    transition: 0.6s;
  }
  
  .gnb__link:hover::after {
    width: 100%;
  }

  /* Visual */
  .visual {
    margin-top: 120px;
  }

  .visual__menu-link {
    margin-right: 60px;
  }

  .visual__menu-text {
    font-size: 20px;
  }

  /* About */
  .about {
    height: 770px;
  }

  .about__line-box {
    width: 35%;
  }

  .about__text {
    flex-wrap: nowrap;
    width: 60%;
  }

  /* Premium */
  .premium {
    width: 95%;
    height: 1020px;
    margin: 0 auto;
  }

  .premium__banner {
    width: 13%;
  }

  /* Service */
  .service {
    width: 95%;
    margin: 40px auto 0;
  }

  .service__desc {
    font-size: 17px;
  }

  .service__img-box {
    position: relative;
  }

  .service__img-box::after {
    content: "VIEW";
    background-color: rgba(44, 35, 28, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #d4d4d4;
    font-size: 22px;
    opacity: 0;
    transition: 0.3s;
  }

  .service__link:hover .service__img-box::after {
    opacity: 1;
  }
}