* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

fieldset {
  border: none;
}

legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type=text],
input[type=password] {
  height: 18px;
  padding: 2px 4px;
  color: #353535;
  font-size: 12px;
  border: 1px solid #d5d5d5;
  outline: none;
}