@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  line-height: 1;
}

/* Common */
.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.logo__link {
  display: block;
}

.logo__img{
  display: block;
  width: 100%;
  max-height: 24px;
}

/* Wrap */
.wrap {
  width: 100%;
  min-width: 1200px;
}

/* Header */
.header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header__inner {
  padding: 0 20px;
}

.header__top {
  display: flex;
  max-width: 1462px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__search-form {
  margin-right: 3%;
}

.search-form fieldset {
  position: relative;
}

.search-form .search-form__input {
  width: 135px;
  height: 26px;
  padding-right: 20px;
  color: #999;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.search-form__input::placeholder {
  color: #bbb;
  font-weight: 700;
}

.search-form__btn-search {
  position: absolute;
  top: 6px;
  right: 3px;
}

.search-form__btn-search .fas {
  font-size: 17px;
  color: #888;
}

.header__member {
  display: flex;
  align-items: center;
  color: #777;
  font-size: 15px;
  font-weight: 300;
}

.member__link {
  margin: 0 10px;
  transition: 0.3s;
}

.member__link:hover {
  color: #444;
}

.member__link-cart {
  position: relative;
  margin-left: 22px;
}

.member__link-cart .fas {
  font-size: 30px;
}

.member__cart-count {
  position: absolute;
  top: 42%;
  left: 50%;
  color: #fff;
  font-size: 9px;
  transform: translateX(-50%);
}

/* Header - GNB */
.gnb {
  max-width: 1462px;
  margin: 16px auto 0;
}

.gnb__menu-list {
  display: flex;
}

.gnb__menu-item {
  margin-right: 30px;
}

.gnb__dropdown {
  position: relative;
}

.gnb__link-menu {
  display: block;
  height: 50px;
  color: #777;
  font-size: 15px;
  line-height: 50px;
  transition: 0.3s;
}

.gnb__menu-item:hover .gnb__link-menu {
  color: #444;
}

.gnb__category-list {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 144px;
  padding: 15px 0;
  z-index: 999;
}

.gnb__menu-item:hover .gnb__category-list {
  display: block;
}

.gnb__category-item {
  position: relative;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
}

.gnb__link-category,
.gnb__link-sub-category {
  display: block;
  height: 26px;
  padding: 0 20px;
  line-height: 26px;
  transition: 0.5s;
}

.gnb__category-item:hover .gnb__link-category,
.gnb__link-sub-category:hover {
  color: #fff;
  font-weight: 400;
}


.gnb__sub-category {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  min-width: 110px;
  padding: 10px 0;
  z-index: 999;
}

.gnb__category-item:hover .gnb__sub-category {
  display: flex;
  flex-direction: column;
}

/* Contents */
.contents {
  width: 100%;
  padding-top: 200px;
}

/* Contents - Visual */
.visual {

}

.contents__visual {
  max-width: 1502px;
  margin: 0 auto 150px;
  padding: 0 20px;
}

.visual__inner {
  display: flex;
}

.visual__img-area {
  width: 66%;
}

.visual__slide {
  width: 100%;
}

.slide__item {
  width: 100%;
}

.slide__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visual__slide .slick-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  color: #fff;
  font-size: 20px;
  z-index: 1;
  transition: 0.5s;
}

.visual__slide .slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.visual__slide .slick-prev {
  left: 0;
}

.visual__slide .slick-next {
  right: 0;
}

.visual__text-area {
  flex: 1;
}

.visual__text-box {
  position: relative;
  height: 100%;
  margin-left: 60px;
}

.visual__title {
  position: absolute;
  top: 0;
  left: 26px;
  display: block;
  color: #444;
  font-size: 30px;
  transform: rotate(90deg);
  transform-origin: top left;
}

.visual__sub-text {
  padding-top: 280px;
  color: #999;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

.visual__sub-text em {
  color: red;
  font-style: normal;
}

.visual__link-more {
  position: absolute;
  left: 0;
  bottom: 3%;
  padding: 0 6px 6px 0;
  color: #777;
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px solid #777;
  transition: 0.5s;
}

.visual__link-more:hover {
  color: #000;
  border-color: #000;
}