@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
  font-size: 12px;
  line-height: 1.6;
}

.blind {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
  overflow: hidden;
}

.btn-default {
  background-color: #2f8fd9;
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.btn-default--brown {
  background-color: #9c8579;
}

.wrap {
  overflow-x: hidden;
}

/* Quick Menu */
.quick-menu {
  position: fixed;
  top: 98px;
  right: 15px;
  z-index: 100;
}

.quick-menu__link-menu {
  background: #30363a url(../image/icon_quick1.gif) no-repeat center 15px;
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 1px;
  overflow: hidden;
}

.quick-menu__link-menu:hover {
  background-image: url(../image/icon_quick1_on.png);
}

.quick-menu__link-menu:nth-of-type(2) {
  position: relative;
  background-image: url(../image/icon_quick2.gif);
}

.quick-menu__link-menu:nth-of-type(2) img {
  position: absolute;
  top: 0;
  left: 0;
}

.quick-menu__link-menu:nth-of-type(3) {
  background-image: url(../image/icon_quick3_off.png);
}

.quick-menu__link-menu:nth-of-type(3):hover {
  background-image: url(../image/icon_quick3_on.png);
}

.quick-menu__link-menu:nth-of-type(4) {
  background-image: url(../image/icon_quick4_off.png);
}

.quick-menu__link-menu:nth-of-type(4):hover {
  background-image: url(../image/icon_quick4_on.png);
}

.quick-menu__link-menu:nth-of-type(5) {
  background-image: url(../image/icon_quick3.gif);
}

.quick-menu__link-menu:nth-of-type(5):hover {
  background-image: url(../image/icon_quick5_on.png);
}

.quick-menu__text {
  display: block;
  margin: 53px auto 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 79px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  z-index: 1000;
  transition: 0.5s;
}

.header.fix {
  background-color: #121213;
  height: 65px;
  border: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2%;
}

.logo {
  
}

.logo__link {
  background: url(../image/logo_h1.png) no-repeat center/cover;
  display: block;
  width: 177px;
  height: 14px;
  text-indent: -9999px;
}

.gnb {
  
}

.gnb__menu {
  display: flex;
  align-items: center;
}

.gnb__menu-item {
  margin-left: 40px;
  text-transform: uppercase;
}

.gnb__link-menu {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.header.fix .gnb__link-menu {
  color: #aaa;
}

.gnb__btn-comInfo {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: 0.3s;
}

.gnb__btn-comInfo:hover {
  background-color: #2f8fd9;
  border-color: #2f8fd9;
}

.gnb__link-comInfo {
  padding: 10px 15px;
  font-size: 13px;
  font-weight: normal;
}

.gnb__sns {
  margin-left: 15px;
  width: 35px;
  height: 35px;
}

.gnb__sns:last-of-type {
  margin-left: 5px;
}

.gnb__link-sns {
  background-color: rgba(46,179,0,.5);
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: 500;
  line-height: 35px;
  border-radius: 50%;
}

.gnb__link-sns--blue {
  background-color: rgba(24,177,244,.5);
}

.gnb__mobile-icon {
  display: none;
}

.mo-gnb {
  visibility: hidden;
}

/* Contents */
.contents {

}

.section-title {
  font-size: 40px;
  color: #121213;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 1;
}

/* Contents - Visual */
.visual {
  background: url(../image/subVisual12.jpg) no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 950px;
}

.visual__text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.visual__text {
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
}

.btn-scroll-down {
  background: url(../image/icon_upDown.png) no-repeat center;
  position: absolute;
  left: 50%;
  bottom: 80px;
  width: 98px;
  height: 98px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: up-down 0.8s infinite alternate;
}

/* Contents - Information */
.information {

}

.information__inner {
  width: 100%;
  max-width: 1140px;
  margin: 80px auto;
}

.information__list {
  display: flex;
  margin-top: 100px;
}

.information__list-item {
  width: 25%;
  text-align: center;
}

.information__list-item .fas {
  color: #333;
  font-size: 38px;
}

.information__conter {
  margin-top: 15px;
  color: #121213;
  font-size: 46px;
  font-weight: 500;
  line-height: 1.1;
}

.information__title--en {
  margin-top: 10px;
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
}

.information__title {
  color: #9c8579;
  font-size: 16px;
  font-weight: 400;
}

/* Contents - Service */
.service {
  display: flex;
}

.service__box {
  position: relative;
  width: 25%;
  overflow: hidden;
}

.service__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 100;
  transition: 0.3s;
}

.service__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border: 1px solid rgba(255,255,255,.7);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.service__box:hover .service__link::before {
  width: 90%;
  height: 90%;
  opacity: 1;
}

.service__box:hover .service__link {
  background-color: rgba(156,133,121,.7);
}

.service__title-box {
  width: 100%;
  margin-top: 48%;
  text-align: center;
  transition: 0.3s;
}

.service__box:hover .service__title-box {
  margin-top: 34%;
}

.service__icon img {
  max-width: 115px;
}

.service__name {
  margin-top: 15px;
  font-size: 28px;
  line-height: 1;
}

.service__list {
  width: 185px;
  margin: 20px auto 0;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  list-style-type: "– ";
  transition: 0.3s;
}

.service__box:hover .service__list {
  opacity: 1;
  visibility: visible;
}

.service__box-bg {
  display: block;
  width: 100%;
  transition: 0.3s;
}

.service__box:hover .service__box-bg {
  transform: scale(1.15);
}

/* Contents - Organization */
.organization {
  background-color: #1f2022;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 740px;
}

.organization .section-title {
  color: #fff;
}

.organization__img-box {
  margin-top: 115px;
}

/* Contents - Company Menu */
.company-menu {
  display: flex;
}

.company-menu__box {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.company-menu__link {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.company-menu__text-area {
  width: 100%;
  font-size: 16px;
}

.company-menu__main-text {
  color: #ffdc1a;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
}

.company-menu__main-text span {
  display: block;
  margin-bottom: 25px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

.company-menu__desc {
  margin-top: 25px;
  color: #fff;
  line-height: 1.7;
}

.company-menu__icon {
  background: url(../image/icon_cpn_link.png) no-repeat right center;
  display: inline-block;
  width: 100px;
  height: 32px;
  margin-top: 35px;
  color: #ffdc1a;
  font-style: normal;
  text-align: left;
  line-height: 30px;
}

.company-menu__box:hover .company-menu__icon {
  animation: right-left 0.6s infinite alternate;
}

.company-menu__box-bg {
  display: block;
  width: 100%;
  transition: 0.5s;
}

.company-menu__box:hover .company-menu__box-bg {
  transform: scale(1.1);
}

/* Contents - Request */
.request {
  background: url(../image/img_rq.gif) no-repeat center/cover fixed;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.request .section-title {
  color: #fff;
}

.request__sub-text {
  margin-top: 18px;
  color: #aaa;
  font-size: 20px;
  line-height: 1.3;
}

.request__btns {
  margin-top: 40px;
}

.request .btn-default {
  position: relative;
}

.btn-default__line {
  background-color: rgba(255,255,255,.7);
  position: absolute;
}

.btn-detail .line1 {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  animation: line1 5s infinite both;
}

.btn-consulting .line1 {
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  animation: line3 5s infinite both;
}

.btn-detail .line2 {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  animation: line2 5s infinite both;
}

.btn-consulting .line2 {
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  animation: line2 5s infinite both;
}

.btn-detail .line3 {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
  animation: line3 5s infinite both;
}

.btn-consulting .line3 {
  right: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  animation: line1 5s infinite both;
}

.btn-detail .line4 {
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  animation: line4 5s infinite both;
}

.btn-consulting .line4 {
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  animation: line4 5s infinite both;
}

/* Footer */
.footer {
  background-color: #35373a;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.footer__fnb {
  background-color: #4e5157;
  display: flex;
  width: 100%;
  height: 90px;
}

.footer__link-fnb {
  flex: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 90px;
  text-transform: uppercase;
  border-right: 1px solid #696b70;
}

.footer__link-fnb:last-child {
  border-right: none;
}

.footer__certified-list {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 30px auto 0;
}

.footer__certified-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28.6667%;
  height: 70px;
  margin-right: 1%;
  border: 1px solid #484a4e;
}

.footer__certified-item:last-child {
  margin-right: 0;
}

.footer__link-certified {
  display: block;
}

.footer__certified-item img {
  vertical-align: bottom;
}

.footer__certified-name {
  margin-top: 3px;
  color: #a6a6a6;
  font-size: 13px;
}

.footer__info-list {
  display: flex;
  padding: 90px 0;
}

.footer__info {
  flex: 1;
}

.footer__info-icon {
  color: #696b70;
  font-size: 48px;
  margin-bottom: 18px;
}

.footer__info-text {
  color: #c9cacb;
  font-size: 15px;
  line-height: 1.6;
}

.footer__copyright {
  background-color: #121213;
  width: 100%;
  height: 80px;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 80px;
}


/* 애니메이션 */
@keyframes up-down {
  0% {
    margin-bottom: -5px;
  }
  100% {
    margin-bottom: 5px;
  }
}

@keyframes right-left {
  0% {
    margin-right: 8px;
  }
  100% {
    margin-right: -8px;
  }
}

@keyframes line1 {
  0% {
    height: 0;
  }
  25%, 100% {
    height: 100%;
  }
}

@keyframes line2 {
  0%, 25% {
    width: 0;
  }
  50%, 100% {
    width: 100%;
  }
}

@keyframes line3 {
  0%, 50% {
    height: 0;
  }
  75%, 100% {
    height: 100%;
  }
}

@keyframes line4 {
  0%, 75% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


/* 반응형 */
@media screen and (max-width: 1350px) {
  /* Contents - Service */
  .service__icon img {
    max-width: 80px;
  }

  .service__title-box {
    margin-top: 50%;
  }

  .service__box:hover .service__title-box {
    margin-top: 28%;
  }
  

  .service__name {
    margin-top: 10px;
    font-size: 25px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 1200px) {
  /* Quick Menu */
  .quick-menu {
    display: none;
  }

  /* Header */
  .gnb__menu-item {
    margin-left: 30px;
  }

  /* Contents - Organization */
  .organization {
    height: auto;
    padding: 40px 0;
  }

  .organization__img-box {
    width: 100%;
    margin-top: 40px;
    padding: 0 15px;
  }

  .organization__img-box img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  /* Footer */
  .footer__certified-list {
    flex-wrap: wrap;
  }

  .footer__certified-item {
    /* flex: 0 1 33.3333%; */
    /* width: 30%; */
    margin-bottom: 1%;
  }

  .footer__certified-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1100px) {
  /* Header */
  .header__inner {
    position: relative;
    justify-content: center;
  }

  .gnb__menu {
    display: none;
  }

  .gnb__mobile-icon {
    display: block;
  }

  .mobile-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn-toggle-menu {
    left: 15px;
  }

  .btn-toggle-menu img {
    height: 22px;
  }

  .link-ask {
    right: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: -1px;
  }

  .mo-gnb {
    background-color: rgba(31, 32, 34, 0.9);
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .mo-gnb.on {
    height: 415px;
    visibility: visible;
  }

  .mo-gnb__menu {

  }

  .mo-gnb__menu-item {
    border-bottom: 1px solid #363739;
    text-transform: uppercase;
  }

  .mo-gnb__link-menu {
    display: block;
    padding: 25px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;
  }

  /* Contents */
  .section-title {
    font-size: 35px;
  }

  /* Contents - Visual */
  .visual {
    height: 600px;
  }

  .visual__logo-img img {
    width: 390px;
  }

  .visual__text {
    margin-top: 20px;
    font-size: 22px;
  }

  .btn-scroll-down {
    bottom: 40px;
    width: 70px;
    height: 70px;
  }

  /* Contents - Iinformation */
  .information__inner {
    width: 100%;
    margin: 50px auto;
    padding: 0 15px;
  }

  .information__list {
    margin-top: 50px;
  }

  .information__list-item .fas {
    font-size: 30px;
  }

  .information__conter {
    margin-top: 10px;
    font-size: 30px;
  }

  .information__title--en {
    font-size: 16px;
  }

  .information__title {
    font-size: 14px;
  }

  /* Contents - Service */
  .service__link {
    display: flex;
    align-items: center;
  }

  .service__title-box {
    margin-top: 0;
  }

  .service__box:hover .service__title-box {
    margin-top: 0;
  }

  .service__icon img {
    max-width: 60px;
  }

  .service__name {
    font-size: 19px;
  }

  .service__list {
    display: none;
  }

  /* Contents - Company Menu */
  .company-menu__box {
    padding-bottom: 40%;
  }

  .company-menu__main-text {
    font-size: 35px;
  }

  .company-menu__main-text span {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .company-menu__desc {
    margin-top: 20px;
    font-size: 14px;
  }

  .company-menu__icon {
    background-size: auto 27px;
    height: 27px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 27px;
  }

  .company-menu__box-bg {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    width: auto;
    height: 100%;
    margin: auto;
  }

  /* Contents - Request */
  .request {
    height: auto;
    padding: 40px 15px;
    background-attachment: local;
  }

  .request__sub-text {
    font-size: 16px;
  }

  .request__btns {
    margin-top: 25px;
  }

  /* Footer */
  .footer__fnb {
    height: auto;
  }

  .footer__link-fnb {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
  }
}

@media screen and (max-width: 800px) {
  /* Footer */
  .footer__info-list {
    flex-direction: column;
    padding: 30px 20px;
  }

  .footer__info {
    display: flex;
    padding: 5px 0;
    align-items: center;
  }

  .footer__info-icon {
    width: 10%;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 2.5em;
  }

  .footer__info-text {
    font-size: 1.1em;
    line-height: 1.4;
    text-align: left;
  }
}

@media screen and (max-width: 550px) {
  /* Header */
  .logo__link {
    width: 151px;
    height: 12px;
  }

  .btn-toggle-menu img {
    height: 17px;
  }

  .link-ask img {
    height: 22px;
  }

  /* Contents - Visual */
  .visual {
    height: 420px;
  }

  .visual__logo-img img {
    width: 280px;
  }

  .visual__text {
    margin-top: 10px;
    font-size: 16px;
  }

  .btn-scroll-down {
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-size: 20px;
  }
  
  /* Contents */
  .section-title {
    font-size: 28px;
  }

  /* Contents - Information */
  .information__inner {
    margin-bottom: 20px;
  }

  .information__list {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .information__list-item {
    width: 50%;
    margin-bottom: 25px;
  }

  .information__conter {
    font-size: 25px;
  }

  .information__title--en {
    margin-top: 5px;
  }

  /* Contents - Service */
  .service {
    flex-wrap: wrap;
  }

  .service__box {
    width: 50%;
    padding-bottom: 50%;
  }

  .service__box-bg {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    min-width: 100%;
  }

  .service__name {
    font-size: 16px;
  }

  /* Contents - Organization */
  .organization__img-box img {
    width: 100%;
  }

  /* Contents - Company Menu */
  .company-menu {
    flex-wrap: wrap;
  }

  .company-menu__box {
    width: 100%;
    height: 220px;
    padding: 0;
  }

  .company-menu__box-bg {
    width: 100%;
    height: auto;
  }

  .company-menu__main-text {
    font-size: 25px;
  }

  .company-menu__main-text span {
    margin-bottom: 5px;
  }

  .company-menu__desc {
    margin-top: 10px;
  }

  /* Contents - Request */
  .request__sub-text {
    font-size: 14px;
  }

  /* Footer */
  .footer__fnb {
    flex-wrap: wrap;
  }

  .footer__link-fnb {
    flex-basis: 33.33333%;
  }
  
  .footer__link-fnb:nth-child(1), 
  .footer__link-fnb:nth-child(2), 
  .footer__link-fnb:nth-child(3) {
    border-bottom: 1px solid #696b70;
  }

  .footer__certified-item {
    width: 48%;
    margin-right: 0;
  }

  .footer__certified-item:nth-child(odd) {
    margin-right: 1%;
  }
}