.btn-icon {
  width: 32px;
  height: 32px;
  font-size: 0;
  background-position: center cneter;
  background-repeat: no-repeat;
}

.btn-close .btn-icon {
  background-image: url(../assets/icon_m_close.svg);
}

.text-effect--underline {
  position: relative;
}

.text-effect--underline::after {
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  width: 0;
  height: 1px;
  margin: 0 auto;
  transition: width 250ms ease-in;
}
