@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #212329;
  font-size: 14px;
  line-height: 1.5;
}

/* ============ Common ============ */
.blind {
  display: block;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
}

.btn-primary {
  background-color: #1a7cff;
  display: inline-block;
  color: #f8f9fa;
  font-weight: 500;
  border: 1px solid #1a7cff;
  border-radius: 4px;
}

.btn-primary--round {
  border-radius: 30px;
}

.btn-large {
  padding: 16px;
  font-size: 18px;
}

.link-default {
  color: #1a7cff;
  font-weight: bold;
}

.content-inner {
  width: 1112px;
  margin: 0 auto;
}

/* ============ Header ============ */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 -1px 0 0 inset #eceef2;
  z-index: 1000;
}

/* GNB */
.gnb {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 1112px;
  margin: 18px auto 0;
}

.gnb .btn-primary {
  padding: 2px 8px;
  font-size: 12px;
}

.gnb__users {
  margin-left: 8px;
}

.gnb__users-item {
  display: inline-block;
  color: #8e929f;
}

.gnb__users-item::before {
  content: "";
  background-color: #d7dbe6;
  display: inline-block;
  width: 1px;
  height: 1em;
  vertical-align: middle;
}

.gnb__users-item:first-of-type::before {
  display: none;
}

.gnb__link {
  margin: 0 8px 0 10px;
  vertical-align: middle;
}

/* Logo */
.logo {
  width: 240px;
  height: 24px;
  margin: 0 0 16px;
}

.logo__link {
  display: block;
}

.logo__img {
  height: 100%;
}

.logo__img2 {
  display: none;
}

/* Menu */
.menu {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__link {
  display: block;
  margin-right: 24px;
  padding: 5px 0px 8px;
  font-size: 16px;
  color: #666a75;
  border-bottom: 3px solid transparent;
}

.menu__item:hover .menu__link {
  color: #212329;
  border-color: #212329;
}

.menu__logo {
  display: block;
  background: url(../image/sp-gnb-v2.png) no-repeat;
  background-size: 200px auto;
  color: transparent;
}

.menu__logo-mart {
  width: 68px;
  height: 15px;
  background-position: 0 0;
}

.menu__item--img:hover .menu__logo-mart {
  background-position: 0 -18.5px;
}

.menu__logo-academy {
  width: 97px;
  height: 24px;
  margin-top: -7px;
  background-position: 0 -55px;
}

.menu__item--img:hover .menu__logo-academy {
  background-position: 0 -79px;
}

.menu__logo-note {
  width: 66px;
  height: 15px;
  background-position: 0 -123px;
}

.menu__item--img:hover .menu__logo-note {
  background-position: 0 -143px;
}

/* Menu Detail */
.menu__detail {
  background-color: #fff;
  display: none;
  position: fixed;
  top: 123px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eceef2;
}

.menu__item:hover .menu__detail {
  display: block;
}

.menu__detail-inner {
  display: flex;
  justify-content: space-between;
  width: 1112px;
  height: 261px;
  padding: 30px 0 0 30px;
  margin: 0 auto;
  border-left: 1px solid #eceef2;
}

.menu__dropdown .menu__detail-inner {
  padding: 0;
}

/* Menu Detail - Left */
.menu__service-logo {
  height: 95px;
}

.menu__service-desc {
  margin-bottom: 15px;
  color: #666a75;
  font-size: 12px;
  line-height: 1.8;
}

.menu__sub-menu {
  width: 171px;
  min-height: 295px;
  padding: 18px 0 14px 30px;
  border-right: 1px solid #eceef2;
}

.menu__sub-menu-item {
  padding: 5px 4px 8px 0;
  margin-right: 24px;
  font-weight: 300;
  color: #8e929f;
}

.mune__link-sub:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Menu Detail - Right */
.menu__detail-right {
  width: 340px;
  height: 100%;
}

.menu__detail-right a {
  display: block;
}

.menu__detail-thumnail {
  margin-bottom: 10px;
}

.menu__detail-thumnail img {
  width: 100%;
}

.menu__detail-main-text {
  margin-bottom: 2px;
  color: #212329;
  font-size: 17px;
}

.menu__detail-sub-text {
  display: block;
  color: #8e929f;
  font-size: 12px;
}

/* ============ Main Content ============ */
.main-content {

}

.main-content__wrap {

}

.main-content__bg-w {
  background-color: #fff;
}

.main-content__bg-g {
  background-color: #f8f9fa;
}

.main-content__section-title {
  padding-top: 80px;
  font-size: 32px;
  text-align: center;
}

.main-content__service-item {
  padding: 48px 0 0 0;
}

.main-content__service-item:nth-of-type(even) {
  background-color: #f8f9fa;
}

.main-content__service-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1112px;
  margin: 0 auto;
}

.main-content__app-area {
  background: url() no-repeat 0 0/cover;
  width: 536px;
  height: 480px;
  padding: 18px 18px 0 17px;
}

.main-content__use-content {
  min-width: 440px;
  max-width: 440px;
  padding: 48px 0;
}

.main-content__content-title {
  font-size: 32px;
}

.main-content__content-title::before {
  content: "";
  background: url() no-repeat center/cover;
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 29px;
}

.main-content__content-desc {
  padding: 24px 0 19px 0;
  font-size: 18px;
}

.main-content__content-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #222;
}

.main-content__content-info-title {
  background-color: #ECEEF2;
  width: 49px;
  height: 20px;
  margin-bottom: 12px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}

.main-content__content-info-desc {
  width: calc(100% - 58px);
  margin-bottom: 12px;
  font-size: 16px;
}

.main-content__link-more {
  display: block;
  margin-top: 18px;
  font-size: 18px;
}

/* Main Content - Top */
.main-content__top {
  background: url(../image/200828_top_img.jpg) no-repeat center/cover;
  width: 100%;
  min-height: 656px;
  height: calc(100vh - 116px);
  margin-top: 125px;
}

.main-content__top-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-content__logo {
  background: url(../image/logo-ceo-white.svg) no-repeat 0 0/cover;
  width: 218px;
  height: 32px;
  margin-bottom: 24px;
  animation: to-top 1s ease-in-out 0.7s both;
}

.main-content__top-text {
  margin-bottom: 48px;
  color: #fff;
  font-size: 44px;
  line-height: 1.4;
  animation: to-top 1.3s ease-in-out 1s both;
}

.main-content__top-inner .btn {
  padding: 14px 40px;
  animation: to-top 1.6s ease-in-out 1.3s both;
}

/* App Info */
.animate__motion .main-content__section-top {
  animation: to-top 1s 0.5s both;
}

.main-content__title-desc {
  margin-top: 16px;
  color: #8e929f;
  font-size: 16px;
  text-align: center;
}

.main-content__section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content__video {
  margin-top: 32px;
  width: 536px;
  height: 520px;
}

.animate__motion .main-content__video {
  animation: to-top 1s 0.8s both;
}

.main-content__video video {
  width: 100%;
}

.main-content__app-info {
  flex: 1;
  margin-left: 136px;
}

.animate__motion .main-content__app-info {
  animation: to-top 1s 1.1s both;
}

.main-content__info-title {
  font-size: 18px;
  margin-right: 38px;
  vertical-align: middle;
}

.main-content__info-desc {
  font-size: 56px;
  font-weight: 300;
  vertical-align: middle;
  
}

.main-content__info-desc em {
  margin-left: 8px;
  font-size: 32px;
  font-style: normal;
}

/* CEO Stroy */
.animate__motion .main-content__section-title {
  animation: to-top 1s 0.5s both;
}

.main-content__interview-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 48px 0 56px;
}

.main-content__interview-card {
  width: 536px;
  margin-bottom: 40px;
}

.animate__motion .main-content__interview-card:nth-of-type(1) {
  animation: to-top 1s linear 0.8s both;
}

.animate__motion .main-content__interview-card:nth-of-type(2) {
  animation: to-top 1s linear 1s both;
}

.animate__motion .main-content__interview-card:nth-of-type(3) {
  animation: to-top 1s linear 1.2s both;
}

.animate__motion .main-content__interview-card:nth-of-type(4) {
  animation: to-top 1s linear 1.4s both;
}

.main-content__link-interview {
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 35px;
  border: solid 1px #eceef2;
  border-radius: 8px;
  box-shadow: 0 16px 32px 0 rgb(187 192 205 / 16%), 0 8px 8px 0 rgb(142 146 159 / 8%);
  transition: 0.3s;
}

.main-content__link-interview:hover {
  transform: translateY(-10px);
}

.main-content__ceo-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
  padding-left: 96px;
  margin-bottom: 27px;
}

.main-content__ceo-info::before {
  content: "";
  background: url(../image/200828_profile_1.png) no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: translateY(-50%);
}

.main-content__interview-card:nth-of-type(2) .main-content__ceo-info::before {
  background-image: url(../image/200828_profile_2.png);
}

.main-content__interview-card:nth-of-type(3) .main-content__ceo-info::before {
  background-image: url(../image/200828_profile_3.png);
}

.main-content__interview-card:nth-of-type(4) .main-content__ceo-info::before {
  background-image: url(../image/200828_profile_4.png);
}

.main-content__ceo-name {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.main-content__ceo-addr {
  padding-top: 7px;
  color: #8e929f;
}

.main-content__ceo-story {
  margin-bottom: 37px;
  font-size: 22px;
  font-weight: 100;
}

.main-content__more {
  font-size: 18px;
}

/* Open List */
.main-content__service-item.animate__motion .main-content__app-area {
  animation: to-top 1s 0.7s both;
}

.main-content__service-item.animate__motion .main-content__use-content {
  animation: to-top 1s 0.9s both;
}

.main-content__open-list .main-content__app-area {
  background-image: url(../image/prod_openlist_d_v2.gif);
}

.main-content__open-list .main-content__content-title::before {
  background-image: url(../image/icon_openlist@2x.png);
}

/* Ultra Call */
.main-content__ultra-call .main-content__app-area {
  background-image: url(../image/product_ultracall_d_v3.gif);
}

.main-content__ultra-call .main-content__content-title::before {
  background-image: url(../image/icon_ultracall@2x.png);
}

/* Take Out */
.main-content__take-out .main-content__app-area {
  background-image: url(../image/product_bmorder_d_v3.gif);
}

.main-content__take-out .main-content__content-title::before {
  background-image: url(../image/icon_bmorder@2x.png);
}

/* Riders */
.main-content__riders .main-content__app-area {
  background-image: url(../image/product_riders_d_v3.gif);
}

.main-content__riders .main-content__content-title::before {
  background-image: url(../image/icon_riders@2x.png);
}

/* Apply */
.main-content__apply-list {
  display: flex;
  justify-content: space-between;
  padding: 44px 0 88px;
}

.main-content__apply-card {
  width: 536px;
}

.animate__motion .main-content__apply-card:nth-of-type(1) {
  animation: to-top 1.5s 0.7s both;
}

.animate__motion .main-content__apply-card:nth-of-type(2) {
  animation: to-top 1.5s 0.9s both;
}

.main-content__link-apply {
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 0 32px 32px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 22px rgb(236 238 242 / 50%);
  transition: 0.3s;
}

.main-content__link-apply:hover {
  transform: translateY(-10px);
}

.main-content__link-apply::before {
  content: "";
  background: url() no-repeat center/cover;
  display: block;
  width: 536px;
  height: 280px;
  margin: 0 -32px;
  margin-bottom: 43px;
}

.main-content__apply-card:nth-of-type(1) .main-content__link-apply::before {
  background-image: url(../image/200828_apply_1.jpg);
}

.main-content__apply-card:nth-of-type(2) .main-content__link-apply::before {
  background-image: url(../image/200828_apply_2.jpg);
}

.main-content__apply-title {
  font-size: 22px;
  font-weight: 500;
}

.main-content__apply-desc {
  margin: 17px 0;
  font-size: 16px;
  line-height: 2;
}

.main-content__btn-apply {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
}

/* Other Service */
.main-content__other-list {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 88px;
}

.main-content__other-item {
  width: 248px;
}

.animate__motion .main-content__other-item:nth-of-type(1) {
  animation: to-top 1s ease-in-out 0.5s both;
}

.animate__motion .main-content__other-item:nth-of-type(2) {
  animation: to-top 1s ease-in-out 0.8s both;
}

.animate__motion .main-content__other-item:nth-of-type(3) {
  animation: to-top 1s ease-in-out 1.1s both;
}

.animate__motion .main-content__other-item:nth-of-type(4) {
  animation: to-top 1s ease-in-out 1.4s both;
}

.main-content__link-other {
  display: block;
}

.main-content__link-other::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  display: block;
  width: 100%;
  height: 160px;
  transition: 0.5s;
}

.main-content__link-other:hover::before {
  background-size: 120% auto;
}

.main-content__other-item:nth-of-type(1) .main-content__link-other::before {
  background-image: url(../image/200828_other_1.jpg);
}

.main-content__other-item:nth-of-type(2) .main-content__link-other::before {
  background-image: url(../image/200828_other_2.jpg);
}

.main-content__other-item:nth-of-type(3) .main-content__link-other::before {
  background-image: url(../image/200828_other_3.jpg);
}

.main-content__other-item:nth-of-type(4) .main-content__link-other::before {
  background-image: url(../image/200828_other_4.jpg);
}

.main-content__apply-title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
}

.main-content__apply-desc {
  margin-top: 12px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -1px;
}

.main-content__link-more {
  display: block;
  margin-top: 15px;
  color: #8E929F;
  font-size: 12px;
}

/* Content Footer */
.main-content__footer {
  background: url(../image/about_bottom_d@2x.jpg) no-repeat center/cover;
  height: 456px;
}

.main-content__footer .content-inner {
  padding-top: 128px;
}

.main-content__footer .main-content__section-title {
  padding-top: 0;
  margin-bottom: 40px;
  text-align: left;
}

.main-content__footer .btn-primary {
  display: inline-block;
  padding: 12px 20px;
}

.main-content__footer.animate__motion .btn-primary {
  animation: to-top 1s ease-in-out 0.7s both;
}

/* 애니메이션 */
@keyframes to-top {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}