@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

/* Common */
.blind {
  display: block;
  width: 1px;
  height: 1px;
  color: transparent;
  overflow: hidden;
  text-indent: -9999px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 88px;
}

.logo {
  width: 170px;
  height: 60px;
}

.logo__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
}

.logo__img2 {
  opacity: 0;
  visibility: hidden;
}

.header__intro-text {
  margin-left: 180px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-menu-open {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.btn-menu-open .lnr-menu {
  margin-top: -3px;
  margin-left: 15px;
  font-size: 33px;
}

.gnb {
  background-color: #000;
  position: absolute;
  top: 0;
  right: -500px;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding: 70px;
  color: #fff;
  transition: 0.8s;
}

.gnb__menu {
  display: flex;
  flex-direction: column;
}

.gnb__link-menu {
  color: #666;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.7;
  transition: 0.3s;
}

.gnb__link-menu:hover,
.gnb__link-menu.active {
  color: #fff;
}

.btn-menu-close {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  font-size: 40px;
}

/* Visual */
.visual {
  overflow: hidden;
}

.slide {
  
}

.slide__item {
  background-color: #222;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.slide__text-box {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-size: 18px;
  transform: translateY(-50%);
}

.slide__main-text {
  margin: 28px 0;
  font-size: 63px;
  font-weight: bold;
}

.slide__link .lnr {
  margin-left: 5px;
  font-size: 15px;
}

.slide__scroll-down {
  position: absolute;
  left: 50px;
  bottom: 10%;
  color: #ccc;
  font-weight: bold;
  transform: rotate(-90deg);
}

/* Contents */
.contents {
  background-color: #1b1b1b;
  padding: 120px 0;
  overflow: hidden;
}

/* Contents - introduce */
.introduce {
}

.introduce__inner {
  position: relative;
  display: flex;
  width: 1170px;
  padding-bottom: 60px;
  margin: 0 auto;
  color: #fff;
}

.introduce__inner::before {
  content: "";
  background-color: #ffec03;
  position: absolute;
  top: 130px;
  left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.introduce__inner::after {
  content: '”';
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 300px;
  font-weight: normal;
}

.introduce__main-text {
  width: 30%;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.introduce__sub-text {
  width: 70%;
  font-size: 24px;
  word-break: keep-all;
}

.introduce__company {
  display: block;
  margin-top: 60px;
  color: #999;
  font-size: 18px;
}

/* Contents - projects */
.project {
  color: #fff;
}

.project__top {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 90px;
  margin: 130px auto 60px;
}

.project__title {
  font-size: 35px;
  line-height: 1.3;
  font-weight: bold;
}

.project__link-more {
  font-size: 18px;
}

.project__link-more .lnr {
  margin-left: 5px;
  font-size: 14px;
}

.project__list {
  display: flex;
  width: 98%;
  margin: 0 auto;
}

.project__list-item {
  margin-right: 1%;
  overflow: hidden;
}

.project__list-item:last-of-type {
  margin-right: 0;
}

.project__link {
  position: relative;
  display: block;
}

.project__img {
  width: 100%;
  transition: 0.5s;
}

.project__link:hover .project__img {
  transform: scale(1.1);
}

.project__info {
  background-color: #1b1b1b;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 270px;
  padding: 15px;
  text-align: right;
}

.project__category {
  display: block;
}

.project__name {
  font-size: 20px;
  text-transform: uppercase;
}

/* Content - partner */
.partner {

}

.partner__inner {
  width: 1170px;
  margin: 120px auto;
}

.partner__text {
  color: #fff;
  font-size: 18px;
}

.partner__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partner__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100px;
  margin-top: 50px;
  opacity: 0.5;
  transition: 0.5s;
}

.partner__list-item:nth-of-type(1),
.partner__list-item:nth-of-type(5) {
  width: 20%;
  justify-content: flex-start;
}

.partner__list-item:nth-of-type(4n) {
  width: 20%;
  justify-content: flex-end;
}

.partner__list-item:hover {
  opacity: 1;
}

/* Contents - contact */
.contact {
  background: url(../image/contact.jpg) no-repeat left/90% fixed;
  padding: 180px 0;
}

.contact__inner {
  width: 1170px;
  margin: 0 auto;
  color: #fff;
}

.contact__sub-text {
  font-size: 17px;
}

.contact__tel {
  display: block;
  margin: 40px 0;
  font-size: 55px;
}

/* Footer */
.footer {
  background-color: #1b1b1b;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 80px 80px;
}

.footer__box {
  width: 33.3333%;
  color: #999;
  line-height: 1.8;
}

.footer__company-contact {
  color: #fff;
  font-size: 16px;
}

.footer__company-contact span {
  margin-right: 8px;
  color: #999;
  font-weight: bold;
}

.footer__btn-top {
  position: absolute;
  right: 80px;
  bottom: 60px; 
  color: #fff;
  font-size: 48px;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
  /* Contents - introduce */
  .introduce__inner {
    width: 92%;
  }

  /* Contents - projects */
  .project__top {
    width: 92%;
  }

  .project__info {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
  }

  .project__info::after {
    content: "⟶";
    position: absolute;
    right: 16px;
    bottom: 0;
    font-size: 18px;
  }

  /* Content - partner */
  .partner__inner {
    width: 92%;
  }

  /* Contents - contact */
  .contact {
    width: 90%;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }

  .contact__inner {
    width: 92%;
  }

  /* Footer */
  .footer__btn-top {
    right: 30px;
    bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  /* Visual */
  .slide__img {
    right: -30%;
    width: auto;
    height: 100%;
  }

  .slide__main-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  .header__inner {
    height: 70px;
    padding: 0 30px;
  }

  .logo {
    width: 150px;
  }

  .header__intro-text {
    margin-left: 130px;
  }

  /* Visual */
  .slide__img {
    right: -68%;
  }

  .slide__main-text {
    font-size: 35px;
  }

  /* Contents - introduce */
  .introduce__inner::before {
    top: 150px;
    width: 80px;
    height: 80px;
  }

  .introduce__inner::after {
    top: 90px;
    font-size: 250px;
  }

  .introduce__main-text {
    margin-right: 10px;
  }

  /* Contents - projects */
  .project__list {
    flex-wrap: wrap;
    width: 95%;
  }

  .project__list-item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 10px;
  }

  .project__list-item:nth-of-type(2n) {
    margin-right: 0;
  }

  /* Content - partner */
  .partner__list .partner__list-item {
    justify-content: center;
    width: 50%;
    margin-top: 20px;
  }

  /* Footer */
  .footer {
    flex-wrap: wrap;
  }

  .footer__box {
    width: 50%;
    height: 110px;
  }
}

@media screen and (max-width: 650px) {
  /* Header */
  .header__inner {
    height: 55px;
    padding: 0 15px;
  }

  .logo {
    width: 120px;
  }

  .header__intro-text {
    margin-left: 15px;
    font-size: 14px;
  }

  .btn-menu-open__text {
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  .btn-menu-open .lnr-menu {
    font-size: 28px;
  }

  /* Visual */
  .slide__img {
    right: -80%;
  }

  .slide__text-box {
    font-size: 16px;
  }

  .slide__main-text {
    margin: 24px 0;
    font-size: 30px;
  }

  .slide__scroll-down {
    left: 15px;
    font-size: 13px;
  }

  /* Contents */
  .contents {
    padding: 80px 0;
  }

  /* Contents - introduce */
  .introduce__inner {
    flex-direction: column;
  }

  .introduce__inner::before {
    top: 90px;
    left: 45px;
  }

  .introduce__inner::after {
    top: 40px;
    font-size: 220px;
  }

  .introduce__main-text {
    width: 100%;
    font-size: 26px;
  }

  .introduce__sub-text {
    width: 100%;
    margin-top: 160px;
    font-size: 20px;
  }

  /* Contents - projects */
  .project__top {
    margin: 40px auto 20px;
  }

  .project__title {
    font-size: 30px;
  }

  .project__link-more {
    margin-top: 45px;
    font-size: 16px;
  }

  .project__list {
    flex-wrap: wrap;
    width: 92%;
  }

  .project__list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .project__info {
    text-align: left;
    padding-bottom: 0;
  }

  /* Content - partner */
  .partner__inner {
    margin: 80px auto;
  }

  .partner__list-item {
    height: 80px;
  }

  .partner__list-item:nth-of-type(4) img {
    height: 100%;
  }

  /* Contents - contact */
  .contact__sub-text {
    font-size: 15px;
  }

  .contact__tel {
    margin: 30px 0;
    font-size: 35px;
  }

  /* Footer */
  .footer {
    padding: 0 30px 30px;
  }

  .footer__box {
    width: 100%;
    height: 100px;
    font-size: 14px;
  }

  .footer__btn-top {
    font-size: 34px;
  }
}